


declare 
@TopicID INT=10,
@FromDate DATETIME ='2024-12-03 00:00:00',
@ToDate DATETIME ='2025-02-24 00:00:00',
@GoogleTab INT=0
--@Source VARCHAR(100) ='Google'
--@comment VARCHAR(300)='Total Records From Google',
--@URL NVARCHAR(MAX)=NULL

BEGIN

--SET @FromDate= GETDATE()-7
--SET @ToDate= GETDATE()+1

CREATE TABLE #TEMP_AOLog_Stats(
 SerpTab NVARCHAR(MAX),
 url NVARCHAR(MAX),
 Headline VARCHAR(MAX),
 Latestcomment NVARCHAR(MAX),
 ArticleDate SMALLDATETIME,
 IsEnriched INT,
 IsRelevant INT
)

CREATE TABLE #TEMP_AOLog_Details(
 SerpTab NVARCHAR(MAX),
 url NVARCHAR(MAX),
 Headline VARCHAR(MAX),
 Latestcomment NVARCHAR(MAX),
 ArticleDate SMALLDATETIME,
 IsEnriched INT,
 IsRelevant INT
)

DECLARE @SelectQuery NVARCHAR(MAX)='',@WhereQuery NVARCHAR(MAX)='',@StatsQuery NVARCHAR(MAX)='',@DetailsQuery NVARCHAR(MAX)=''



	declare @TagID INT=0
	select @TagID =TagID from Event WITH (NOLOCK)  where EventID=@TopicID


	;WITH CTE AS(
    SELECT ROW_NUMBER() OVER (PARTITION BY url ORDER BY createdat ASC) AS rn,Date,url,SerpTab	
    FROM [ArticleOnlineLog] AOL WITH (NOLOCK) 
    WHERE TopicID=@TagID  
	--EQID in (select EQID from #EQID_Table)
	--AND (@SourceID =0 OR (SourceID=@SourceID))
	AND AOL.Date >= @FromDate
	AND AOL.Date <= @ToDate
	)
	select * INTO #TEMP1 from cte where rn=1;

	;WITH CTE2 AS(
   SELECT ROW_NUMBER() OVER (PARTITION BY url ORDER BY createdat desc) AS rn,url,comment,Date
    FROM [ArticleOnlineLog] AOL WITH (NOLOCK) 
    WHERE TopicID=@TagID  
	--EQID in (select EQID from #EQID_Table)
	--AND (@SourceID =0 OR (SourceID=@SourceID))
	AND AOL.Date >= @FromDate
	AND AOL.Date <= @ToDate
	)
	select * INTO #TEMP2 from CTE2 where rn=1;

	CREATE TABLE #TEMP3
	(
	SerpTab VARCHAR(100),
	Url NVARCHAR(MAX),
	Headline VARCHAR(MAX),
	LatestComment VARCHAR(1000),
	ArticleDate Datetime,
	IsEnriched INT,
	IsRelevant INT

	)

	INSERT INTO  #TEMP3(SerpTab,Url,Headline,LatestComment,ArticleDate,IsEnriched,IsRelevant)
	
	SELECT distinct CASE WHEN LO.Tab=1 THEN 'All' WHEN LO.Tab=2 THEN  'News' END as  SerpTab, LO.Url, LO.Title AS Headline
	,'Inserted In DB' as LatestComment, LOP.Date AS ArticleDate
	,CASE WHEN LE.LOEID >0 THEN 1 else 0 END as IsEnriched
	,CASE WHEN (e.EventTypeID=1 AND LED.Is_Relevant_About_Client = 1) 	OR 	(LED.Is_Relevant_About_Client = 1 AND LED.Is_Relevant_About_Topic = 1) THEN 1 ELSE 0 END as IsRelevant
    FROM [dbo].LinkOnline LO WITH (NOLOCK)
    INNER JOIN [dbo].[TagLinkOnlineMap] TLOM WITH (NOLOCK) ON TLOM.LOID = LO.LOID
    INNER JOIN [dbo].[TagLinkOnlineMapE] TLOME WITH (NOLOCK) ON TLOME.TLOMID = TLOM.TLOMID
	INNER JOIN [dbo].[LinkOnline_Processed] LOP WITH (NOLOCK) ON LOP.LOPID=LO.LOPID
	LEFT JOIN [dbo].[LinkOnline_Enriched] LE with (nolock) ON LE.LOID = LO.LOID
    LEFT JOIN [dbo].[LinkOnline_EnrichedDetail] LED WITH (NOLOCK) ON LED.TLOMEID = TLOME.TLOMEID
    LEFT JOIN [dbo].[mstPublication] PUB WITH (NOLOCK) ON PUB.PublicationID = LO.PublicationID
	INNER JOIN [dbo].[Event] E WITH (NOLOCK) ON E.TagID=TLOME.TagID
    WHERE E.EventID=@TopicID 
		--AND (@SourceID =0 OR (LO.SourceID=@SourceID))
		AND LOP.Date >= @FromDate
		AND LOP.Date <= @ToDate
	
	UNION ALL

	SELECT #TEMP1.SerpTab,#TEMP1.Url,'' as Headline,#TEMP2.comment as LatestComment,#TEMP1.Date as ArticleDate,0 as IsEnriched,0 as IsRelevant  from #TEMP1
	INNER JOIN #TEMP2 ON #TEMP1.Url=#TEMP2.Url
	WHERE ISNULL(#TEMP2.comment,'') not in ('Inserted In DB','Solr Found Relevant')

	UNION ALL

	SELECT distinct CASE WHEN LO.Tab=1 THEN 'All' WHEN LO.Tab=2 THEN  'News' END as  SerpTab, LO.Url, LO.Title AS Headline
	,'Inserted In DB' as LatestComment, LOP.Date AS ArticleDate
	,CASE WHEN LE.LOEID >0 THEN 1 else 0 END as IsEnriched
	,CASE WHEN (e.EventTypeID=1 AND LED.Is_Relevant_About_Client = 1) 	OR 	(LED.Is_Relevant_About_Client = 1 AND LED.Is_Relevant_About_Topic = 1) THEN 1 ELSE 0 END as IsRelevant
    FROM [dbo].LinkOnline LO WITH (NOLOCK)
	INNER JOIN #TEMP2 ON #TEMP2.Url=LO.Url
    INNER JOIN [dbo].[TagLinkOnlineMap] TLOM WITH (NOLOCK) ON TLOM.LOID = LO.LOID
    INNER JOIN [dbo].[TagLinkOnlineMapE] TLOME WITH (NOLOCK) ON TLOME.TLOMID = TLOM.TLOMID
	INNER JOIN [dbo].[LinkOnline_Processed] LOP WITH (NOLOCK) ON LOP.LOPID=LO.LOPID
	LEFT JOIN [dbo].[LinkOnline_Enriched] LE with (nolock) ON LE.LOID = LO.LOID
    LEFT JOIN [dbo].[LinkOnline_EnrichedDetail] LED WITH (NOLOCK) ON LED.TLOMEID = TLOME.TLOMEID
    LEFT JOIN [dbo].[mstPublication] PUB WITH (NOLOCK) ON PUB.PublicationID = LO.PublicationID
	INNER JOIN [dbo].[Event] E WITH (NOLOCK) ON E.TagID=TLOME.TagID
    WHERE E.EventID=@TopicID 
		--AND (@SourceID =0 OR (LO.SourceID=@SourceID))
		AND LOP.Date >= @FromDate
		AND LOP.Date <= @ToDate	
		AND ISNULL(#TEMP2.comment,'') in ('Inserted In DB','Solr Found Relevant')

		--select * FROM #TEMP3
	
	
SET @SelectQuery=' SELECT distinct * from #TEMP3 WHERE ArticleDate >= '+'''' + Cast(Convert(DATETIME,@FromDate) AS nvarchar(20)) 
+ ''''+' and ArticleDate < '+'''' + Cast(Convert(DATETIME,@ToDate+1) AS nvarchar(20)) + '''	
'



SET @StatsQuery=@SelectQuery+' '+@WhereQuery

INSERT INTO #TEMP_AOLog_Stats
EXEC(@StatsQuery)


CREATE TABLE #Records_from_all_sources(EventID INT,filter_name varchar(100),filter_value varchar(100),filter_count INT)


INSERT INTO #Records_from_all_sources( EventID,filter_name ,filter_value ,filter_count )
	SELECT 
		@TopicID,
	    [filter_name],
		[filter_name] as [filter_value],
	    [filter_count]
	FROM (
	    SELECT 
	        COUNT(1) AS [Total Records From All Sources],	
	        --SUM(CASE WHEN ISNULL(Latestcomment, '') = 'Removed Due To Domain Extension' THEN 1 ELSE 0 END) AS [Removed Due To Domain Extension],
	        SUM(CASE WHEN ISNULL(Latestcomment, '') = 'Removed Due To Publication Exclusion List' THEN 1 ELSE 0 END) AS [Removed Due To Publication Exclusion List],
	        SUM(CASE WHEN ISNULL(Latestcomment, '') = 'Removed Due To Publication Non News' THEN 1 ELSE 0 END) AS [Removed Due To Publication Non News],
	        SUM(CASE WHEN ISNULL(Latestcomment, '') = 'Removed Due To Exists In DB' THEN 1 ELSE 0 END) AS [Removed Due To Exists In DB],
	        SUM(CASE WHEN ISNULL(Latestcomment, '') = 'Solr Found Not Relevant' THEN 1 ELSE 0 END) AS [Solr Found Not Relevant],	
	        --SUM(CASE WHEN ISNULL(Latestcomment, '') = 'Solr Found Relevant' THEN 1 ELSE 0 END) AS [Solr Found Relevant],		
	        SUM(CASE WHEN ISNULL(Latestcomment, '') = 'Inserted In DB' THEN 1 ELSE 0 END) AS [Inserted In DB],	
			(select Count(1) from #TEMP_AOLog_Stats where ISNULL(Latestcomment, '') = 'Inserted In DB' and  IsEnriched=0) AS [Not Enriched],
			(select Count(1) from #TEMP_AOLog_Stats where IsEnriched=1) AS [Enriched],
			(select Count(1) from #TEMP_AOLog_Stats where ISNULL(Latestcomment, '') = 'Inserted In DB' and IsEnriched=1 and  IsRelevant=0) AS [Found Not Relevant]	,
			(select Count(1) from #TEMP_AOLog_Stats where IsRelevant=1) AS [Found Relevant]			
	    FROM #TEMP_AOLog_Stats
	) AS SourceTable
	UNPIVOT (
	    [filter_Count] FOR [filter_name] IN (
	        [Total Records From All Sources],
	        --[Removed Due To Domain Extension],
	        [Removed Due To Publication Exclusion List],
	        [Removed Due To Publication Non News],
	        [Removed Due To Exists In DB],
	        [Solr Found Not Relevant],
	        --[Solr Found Relevant],
	        [Inserted In DB],
			[Not Enriched],
			[Enriched],
			[Found Not Relevant],
			[Found Relevant]
	    )
	) AS Unpvt;


select * from #Records_from_all_sources


SELECT 
    src.EventID,TotalRecords.[Total Records],InsertedDB.[Inserted In DB],NotRelevant.[Found Not Relevant],
    CASE 
        WHEN (CAST(InsertedDB.[Inserted In DB] AS FLOAT) / TotalRecords.[Total Records]) < 0.2
        THEN 'Negative' 
        ELSE 'Positive' 
    END AS [Health_Inserted],
	 CASE 
        WHEN (CAST(NotRelevant.[Found Not Relevant] AS FLOAT) / InsertedDB.[Inserted In DB]) > 0.2
        THEN 'Negative' 
        ELSE 'Positive' 
    END AS [Health_Relevant]

FROM #Records_from_all_sources src
-- Get Total Records for each EventID
INNER JOIN (
    SELECT 
        EventID, 
        filter_count AS [Total Records]
    FROM #Records_from_all_sources
    WHERE filter_value = 'Total Records From All Sources'
) TotalRecords ON src.EventID = TotalRecords.EventID
-- Calculate Inserted In DB count for each EventID
INNER JOIN (
    SELECT 
        EventID, 
        filter_count AS [Inserted In DB]
    FROM #Records_from_all_sources
    WHERE filter_value = 'Inserted In DB'
) InsertedDB ON src.EventID = InsertedDB.EventID
INNER JOIN (
    SELECT 
        EventID, 
        filter_count AS [Found Not Relevant]
    FROM #Records_from_all_sources
    WHERE filter_value = 'Found Not Relevant'
) NotRelevant ON src.EventID = NotRelevant.EventID
GROUP BY src.EventID, TotalRecords.[Total Records], InsertedDB.[Inserted In DB],NotRelevant.[Found Not Relevant];



	


--drop table #Records_from_all_sources




drop table #TEMP_AOLog_Stats
drop table #TEMP_AOLog_Details
drop table #TEMP1,#TEMP2,#TEMP3

END