

--SahadevD
select distinct LO.LOID,URL,ku.Domain,LP.Date as News_date,lo.CreatedAt 
from LinkOnline lo with(nolock) 
INNER JOIN [dbo].[LinkOnline_Processed] LP WITH (NOLOCK) ON LP.LOPID=lo.LOPID and SourceID=2
INNER JOIN mstPublication p with(nolock)  on lo.PublicationID=P.PublicationID
INNER JOIN mstknownuniverse ku with(nolock)  on ku.Domain=P.Publication
where LP.Date >= '2025-08-21 00:00:00' AND LP.Date <= '2025-08-22 23:59:00' 




--select distinct 1987 as EventID,LO.LOID,URL,ku.Domain,LP.Date as News_date,lo.CreatedAt from LinkOnline lo with(nolock) 
--INNER JOIN [dbo].[LinkOnline_Processed] LP WITH (NOLOCK) ON LP.LOPID=lo.LOPID
--INNER JOIN mstPublication p with(nolock)  on lo.PublicationID=P.PublicationID
--INNER JOIN mstknownuniverse ku with(nolock)  on ku.Domain=P.Publication
--where LO.LOID in (
--)


--select distinct LO.LOID,URL,ku.Domain,LP.Date as News_date,lo.CreatedAt 
--from LinkOnline lo with(nolock) 
--INNER JOIN [dbo].[LinkOnline_Processed] LP WITH (NOLOCK) ON LP.LOPID=lo.LOPID and SourceID=2
--INNER JOIN mstPublication p with(nolock)  on lo.PublicationID=P.PublicationID
--INNER JOIN mstknownuniverse ku with(nolock)  on ku.Domain=P.Publication
--where LP.Date >= '2025-07-22 00:00:00' AND LP.Date <= '2025-08-22 23:59:00' 


DECLARE 
@TopicID INT = 1987,
@FromDate datetime = '2025-08-17 00:00:00',
@ToDate datetime ='2025-08-22 23:59:00',
@SearchText varchar(5000) = null,
@Publication_Domain varchar(max) = null,
@Sentiment varchar(500) = null,
@Publication_Type varchar(max) = null,
@Publication_DA varchar(500) = null,
@Publication_ImpactScore varchar(500)  = null,
@SortBy varchar(500) = 'date',
@SortOrder varchar(500) = 'desc',
@Publication_Category varchar(max) = null,
@Publication_Traffic varchar(500)  = null,
@Mention_Type varchar(500) = null,
@Client_Mention varchar(50) = null,
@UserID INT = 0,
@Headline_Sentiment varchar(50) = null,
@Article_Type varchar(3000) = null,
@Exclude_By_Text varchar(5000) = null

BEGIN
		select tlome_id into #Temp_facttable
		from fact_online with(nolock)
		where event_id = @TopicID 
			and date_time >= @FromDate 
			and date_time <= @ToDate 
			and 
			(
				(
					event_type_id = 1 
					and is_relevant_about_client = 1
				)
				OR 	
				(
					--is_relevant_about_client = 1 and 
					is_relevant_about_topic = 1
				)
			)

		IF @Client_Mention IS NOT NULL
		BEGIN
			IF @Client_Mention='True'
			BEGIN
				SET @Client_Mention='1'
			END
			ELSE
			BEGIN
				SET @Client_Mention='0'
			END
		END
		

		IF @Publication_DA='0-100'
		BEGIN
			SET @Publication_DA=null
		END

		IF @Publication_ImpactScore='0-10'
		BEGIN
			SET @Publication_ImpactScore=null
		END

		DECLARE @IsFilter int
		IF @SearchText IS NULL AND @Publication_Domain IS NULL AND @Sentiment IS NULL AND @Publication_Type IS NULL AND 
		@Publication_DA IS NULL AND @Publication_Traffic IS NULL AND @Publication_ImpactScore IS NULL AND @Publication_Category IS NULL AND @Mention_Type IS NULL
		AND @Client_Mention IS NULL AND @Headline_Sentiment IS NULL AND @Article_Type IS NULL AND @Exclude_By_Text IS NULL
		BEGIN
			SET @IsFilter = 0
		END
		ELSE
		BEGIN
			SET @IsFilter = 1 
		END

		IF @IsFilter = 0
		BEGIN
			
			-- Step 1: CTE for filtering fact table
			WITH CTE_Fact AS (
				select tlom_id,tlome_id,LO_ID,url,title,date_time,publication,author,publication_type,publication_da,publication_total_visits
				,headline_sentiment,sentiment,client_name_in_headline
				FROM fact_online with (nolock)
				WHERE event_id = @TopicID 
				  AND date_time BETWEEN @FromDate AND @ToDate
				  AND (
						(event_type_id = 1 AND is_relevant_about_client = 1)
						OR is_relevant_about_topic = 1
					  )
			),
 
			-- Step 2: Main data gathering CTE
			CTE_Main AS (
			   select ft.tlome_id as [Article ID],ft.lo_id,date_time  as [Date - Time]
						,ft.url as [URL]
						,ft.title
						,Publication as Publication
						,isnull(author,'NA') as [Author]
						,LE.Summary as [Article Summary]
						,(ISNULL(ft.[client_name_in_headline],0)) as [Headline Mention]
						,ft.headline_sentiment as [Headline Sentiment]
						,ft.Sentiment as [Article Sentiment]
						,isnull(publication_type,'NA') as [Publication Type]
						,isnull(publication_da,0) as [Publication Domain Authority]
						,isnull(publication_total_visits,0) as [Publication Traffic]
						,isnull(LED.Impact_Score,3) as [Impact Score]
						,replace(LED.Article_Mention,' Mention','') as [Mention Type]
						,case when B.BookmarkID is null then 0 else 1 end as is_bookmarked
						,ft.[client_name_in_headline] as [Client name in Headline]
						,Is_CompetitionPresent as [Competition Present]
						,Competitor_Name as [Competitor Name]
						,SpokePerson_Name as [Spokesperson Name]
						,Spokesperson_statement_quote as [Spokesperson Statement]
						,Other_Spokeperson as [Other Spokesperson]
						,lan.[Language] as [Language]
						,( CASE WHEN (SELECT COUNT(1)
							  FROM [dbo].[LinkOnline_Enriched_ArticleType] LOEA WITH (NOLOCK)
							  WHERE LOEA.LOEID = LE.LOEID AND LOEA.ArticleTypeID = 21)>0 THEN 1 ELSE 0 END
							) AS [Stock News]
						,date_time as date_sort,isnull(publication_da,0) as da_sort,isnull(publication_total_visits,0) as traffic_sort,
						isnull(LED.Impact_Score,0) as pi_score_sort,LED.LOEID
						,dbo.GetFormat(CONVERT(INT,(isnull(publication_total_visits,0) * 0.025 * 0.35 * 1 * (CASE WHEN LED.client_name_in_headline = 'Mentioned' THEN 1.5 ELSE 1 END) * 3))) as ave
						,CONVERT(INT,(isnull(publication_total_visits,0) * 0.025 * 0.35 * 1 * (CASE WHEN LED.client_name_in_headline = 'Mentioned' THEN 1.5 ELSE 1 END) * 3)) as ave_sort
						,SourceID
						----into #TempNoFilter
						FROM CTE_Fact ft WITH (NOLOCK)
						INNER JOIN [dbo].[LinkOnline] LO with (nolock) ON LO.LOID = ft.LO_ID
						INNER JOIN [dbo].[LinkOnline_Enriched] LE with (nolock) ON LE.LOID = ft.LO_ID
						INNER JOIN [dbo].[LinkOnline_EnrichedDetail] LED with (nolock) ON LED.TLOMEID = ft.TLOME_ID AND LED.LOEID = LE.LOEID
						LEFT JOIN [dbo].[mstLanguage] lan with (nolock) ON lan.LanguageID = LE.LanguageID
						LEFT JOIN [dbo].[Bookmark] B WITH (NOLOCK) on ft.TLOM_ID= B.RecordID and PlatformID=1 AND (@UserID = 0 OR B.UserID =@UserID)
						--ORDER BY date_time desc
			),
 
			-- Step 3: Article Types aggregation
			CTE_ArticleTypes AS (
				SELECT 
					T.[Article ID],
					--T.[Date - Time],
					STRING_AGG(ISNULL(LTRIM(RTRIM(MATE.ArticleType)), 'N/A'), ',') AS Article_Type
				FROM CTE_Main T
				LEFT JOIN dbo.LinkOnline_Enriched_ArticleType LOEA WITH (NOLOCK) ON LOEA.LOEID = T.LOEID
				LEFT JOIN dbo.mstArticleType_Enriched MATE WITH (NOLOCK) ON MATE.ArticleTypeID = LOEA.ArticleTypeID
				GROUP BY T.[Article ID]--, T.[Date - Time]
			),
 
			-- Step 4: Discourse Categories aggregation
			CTE_DiscourseCategories AS (
				SELECT 
					T.[Article ID],
					--T.[Date - Time],
					STRING_AGG(replace(ISNULL(LTRIM(RTRIM(MADC.Category)), 'N/A'),',',''), ',') AS Category
				FROM CTE_Main T
				LEFT JOIN dbo.LinkOnline_Enriched_DiscourseCategory LOEDC WITH (NOLOCK) ON LOEDC.LOEID = T.LOEID
				LEFT JOIN dbo.mstArticleDiscourseCategory_Enriched MADC WITH (NOLOCK) ON MADC.DiscourseCategoryID = LOEDC.DiscourseCategoryID 
				where MADC.Category<>''
				GROUP BY T.[Article ID]--, T.[Date - Time]
			)
 
			 --Final Select
			SELECT 
				M.*,
				ISNULL(AT.Article_Type, 'NA') AS Article_Type
			   , ISNULL(DC.Category, 'NA') AS Category
			   into #TempNoFilter
			FROM CTE_Main M
			LEFT JOIN CTE_ArticleTypes AT ON AT.[Article ID] = M.[Article ID]
			LEFT JOIN CTE_DiscourseCategories DC ON DC.[Article ID] = M.[Article ID]
			WHERE m.SourceID=2
			ORDER BY M.[Date - Time] DESC;


			IF @SortBy = 'date' AND @SortOrder = 'asc'
			BEGIN
				SELECT * from #TempNoFilter order by date_sort asc
			END
			ELSE IF @SortBy = 'date' AND @SortOrder = 'desc'
			BEGIN
				SELECT * from #TempNoFilter order by date_sort desc
			END
			ELSE IF @SortBy like '%authority%' AND @SortOrder = 'asc'
			BEGIN
				SELECT * from #TempNoFilter order by da_sort asc
			END
			ELSE IF @SortBy  like '%authority%' AND @SortOrder = 'desc'
			BEGIN
				SELECT * from #TempNoFilter order by da_sort desc
			END
			ELSE IF @SortBy = 'traffic' AND @SortOrder = 'asc'
			BEGIN
				SELECT * from #TempNoFilter order by traffic_sort asc
			END
			ELSE IF @SortBy = 'traffic' AND @SortOrder = 'desc'
			BEGIN
				SELECT * from #TempNoFilter order by traffic_sort desc
			END
			ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'asc'
			BEGIN
				SELECT * from #TempNoFilter order by pi_score_sort asc
			END
			ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'desc'
			BEGIN
				SELECT * from #TempNoFilter order by pi_score_sort desc
			END
			ELSE IF @SortBy = 'ave' AND @SortOrder = 'asc'
			BEGIN
				  SELECT * from #TempNoFilter order by ave_sort asc
			END
			ELSE IF @SortBy = 'ave' AND @SortOrder = 'desc'
			BEGIN
				  SELECT * from #TempNoFilter order by ave_sort desc
			END
			ELSE 
			BEGIN
				SELECT * from #TempNoFilter order by date_sort desc
			END

			drop table #TempNoFilter
		END
		drop table #Temp_facttable
END