USE [SahadevC2]
/****** Object:  StoredProcedure [dbo].[USP_API_SentryV2_NotificationSettings_Update]    Script Date: 25-02-2025 14:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [dbo].[USP_API_SentryV2_NotificationSettings_Update] 10,390,1,1,1,1,0,0
CREATE PROC [dbo].[USP_API_SentryV2_NotificationSettings_Update]
@TopicID INT = 0,
@UserID INT = 0,
@IsActive INT = 0,
@PlatformID INT = 0,
@Platform_IsActive INT = 0,
@Platform_AsItHappens INT = 0,
@Platform_Summarised INT = 0,
@Platform_SummarisedInterval INT = 0,
@Platform_Conditional INT = 0
AS
BEGIN
		IF @Platform_AsItHappens=1
		BEGIN
			SET @Platform_SummarisedInterval=0
		END

		IF @Platform_IsActive=1
		BEGIN
			SET @IsActive=1
		END

		UPDATE Event_NotificationSetting
		SET 
			IsActive = @IsActive, Platform_IsActive=@Platform_IsActive,Platform_AsItHappens = @Platform_AsItHappens,
			Platform_Summarised=@Platform_Summarised,Platform_SummarisedInterval=@Platform_SummarisedInterval,ModifiedAt=GETDATE()
		    ,Platform_Conditional=@Platform_Conditional
		WHERE EventID = @TopicID AND UserID = @UserID AND PlatformID = @PlatformID
		
END



GO
/****** Object:  StoredProcedure [dbo].[USP_SentryV2_Update_Notifications_IsRead]    Script Date: 25-02-2025 14:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  proc [dbo].[USP_SentryV2_Update_Notifications_IsRead]
@UserID INT=0,
@PrimaryKey VARCHAR(MAX) =0,
@NotificationType VARCHAR(100) =NULL --SUM,Conditional,AIH
AS
BEGIN

DECLARE @PrimaryKeyTable TABLE (NLID INT)

INSERT INTO @PrimaryKeyTable (NLID)
SELECT CAST(ID AS INT)
FROM [dbo].[GetSplitedValues](@PrimaryKey)


IF(@NotificationType='SUM')
BEGIN
	update Event_Notification_Log_SI_Detail set IsRead=1,ModifiedAt=GETDATE() where NLID IN (SELECT NLID FROM @PrimaryKeyTable) and UserID=@UserID
END
IF(@NotificationType='AIH')
BEGIN
	--update Event_Notification_Log_Detail set IsRead=1,ModifiedAt=GETDATE() where NLID IN (SELECT NLID FROM @PrimaryKeyTable) and UserID=@UserID
	--To update Conditional Notification from lockScreen
	update Event_Notification_Log_Conditional_Detail set IsRead=1,ModifiedAt=GETDATE() where RecordID IN (SELECT NLID FROM @PrimaryKeyTable) and UserID=@UserID
END
IF(@NotificationType='Conditional')
BEGIN
	update Event_Notification_Log_Conditional_Detail set IsRead=1,ModifiedAt=GETDATE() where RecordID IN (SELECT NLID FROM @PrimaryKeyTable) and UserID=@UserID
END

END


GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Insert_SentryV2_Notification_Log]    Script Date: 25-02-2025 14:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procEDURE [dbo].[USP_Service_Insert_SentryV2_Notification_Log]
(
    @RecordID INT = 0,
    @MediaTypeID INT = 0,
	@TopicID INT =0,
    @ImageURL NVARCHAR(MAX) = NULL,
    @lstDeviceID NVARCHAR(MAX) = NULL,
    @NotificationText NVARCHAR(MAX) = NULL,
    @Request NVARCHAR(MAX) = NULL,
    @Response NVARCHAR(MAX) = NULL
)
AS
BEGIN

    INSERT INTO Event_Notification_Log (RecordID, MediaTypeID, TopicID, ImageURL, NotificationText, lstDeviceID, Request, Response)
    VALUES (@RecordID, @MediaTypeID, @TopicID, @ImageURL, @NotificationText, @lstDeviceID, @Request, @Response)
    
	  DECLARE @NLID INT
	SET @NLID  = Scope_identity()
    
 select @NLID as NLID 
    
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Insert_SentryV2_Notification_Log_Conditional]    Script Date: 25-02-2025 14:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procEDURE [dbo].[USP_Service_Insert_SentryV2_Notification_Log_Conditional]
(
    @RecordID INT = 0,
    @MediaTypeID INT = 0,
	@TopicID INT =0,
    @ImageURL NVARCHAR(MAX) = NULL,
    @lstDeviceID NVARCHAR(MAX) = NULL,
    @NotificationText NVARCHAR(MAX) = NULL,
    @Request NVARCHAR(MAX) = NULL,
    @Response NVARCHAR(MAX) = NULL
)
AS
BEGIN

    INSERT INTO Event_Notification_Log_Conditional (RecordID, MediaTypeID, TopicID, ImageURL, NotificationText, lstDeviceID, Request, Response)
    VALUES (@RecordID, @MediaTypeID, @TopicID, @ImageURL, @NotificationText, @lstDeviceID, @Request, @Response)
    
    DECLARE @NLID INT
	SET @NLID  = Scope_identity()
    
 select @NLID as NLID 
END


GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Insert_SentryV2_Notification_Log_Conditional_Detail]    Script Date: 25-02-2025 14:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procEDURE [dbo].[USP_Service_Insert_SentryV2_Notification_Log_Conditional_Detail]
@NLID INT=0,
@RecordID INT =0,
@MediaTypeID INT =0,
@TopicID INT =0,
@UserID VARCHAR(100)=NULL,
@DeviceID VARCHAR(200)=NULL,
@Status VARCHAR(200)=NULL,
@ErrorCode VARCHAR(200)=NULL,
@ErrorMessage VARCHAR(1000)=NULL
AS
BEGIN
	if(@NLID>0)
	BEGIN
		insert into Event_Notification_Log_Conditional_Detail(NLID,RecordID,MediaTypeID, TopicID,UserID,DeviceID,[Status],ErrorCode,ErrorMessage)
		select distinct @NLID,@RecordID,@MediaTypeID,@TopicID, @UserID,@DeviceID,@Status,@ErrorCode,@ErrorMessage
	END

END


GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Insert_SentryV2_Notification_Log_Detail]    Script Date: 25-02-2025 14:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procEDURE [dbo].[USP_Service_Insert_SentryV2_Notification_Log_Detail]
@NLID INT=0,
@RecordID INT =0,
@MediaTypeID INT =0,
@TopicID INT =0,
@UserID VARCHAR(100)=NULL,
@DeviceID VARCHAR(200)=NULL,
@Status VARCHAR(200)=NULL,
@ErrorCode VARCHAR(200)=NULL,
@ErrorMessage VARCHAR(1000)=NULL
AS
BEGIN
	if(@NLID>0)
	BEGIN
		insert into Event_Notification_Log_Detail(NLID,RecordID,MediaTypeID, TopicID,UserID,DeviceID,[Status],ErrorCode,ErrorMessage)
		select distinct @NLID,@RecordID,@MediaTypeID,@TopicID, @UserID,@DeviceID,@Status,@ErrorCode,@ErrorMessage
	END

END


GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Insert_SentryV2_Notification_Log_SI]    Script Date: 25-02-2025 14:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procEDURE [dbo].[USP_Service_Insert_SentryV2_Notification_Log_SI]
(
    @RecordID INT = 0,
    @MediaTypeID INT = 0,
	@TopicID INT =0,
    @ImageURL NVARCHAR(MAX) = NULL,
    @lstDeviceID NVARCHAR(MAX) = NULL,
    @NotificationText NVARCHAR(MAX) = NULL,
    @Request NVARCHAR(MAX) = NULL,
    @Response NVARCHAR(MAX) = NULL,
	@FromDate smalldatetime=null,
	@ToDate smalldatetime=null,
	@Summary  NVARCHAR(MAX) = NULL,
	@Volume NVARCHAR(MAX) = NULL
)
AS
BEGIN

    INSERT INTO Event_Notification_Log_SI (RecordID, MediaTypeID, TopicID, ImageURL, NotificationText, lstDeviceID, Request, Response,FromDate,ToDate,Summary,Volume)
    VALUES (@RecordID, @MediaTypeID, @TopicID, @ImageURL, @NotificationText, @lstDeviceID, @Request, @Response,@FromDate,@ToDate,@Summary,@Volume)

	DECLARE @NLID INT
	SET @NLID  = Scope_identity()
    
 select @NLID as NLID 
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Insert_SentryV2_Notification_Log_SI_Detail]    Script Date: 25-02-2025 14:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procEDURE [dbo].[USP_Service_Insert_SentryV2_Notification_Log_SI_Detail]
@NLID INT=0,
@RecordID INT =0,
@MediaTypeID INT =0,
@TopicID INT =0,
@UserID VARCHAR(100)=NULL,
@DeviceID VARCHAR(200)=NULL,
@Status VARCHAR(200)=NULL,
@ErrorCode VARCHAR(200)=NULL,
@ErrorMessage VARCHAR(1000)=NULL
AS
BEGIN
	if(@NLID>0)
	BEGIN
		insert into Event_Notification_Log_SI_Detail(NLID,RecordID,MediaTypeID, TopicID,UserID,DeviceID,[Status],ErrorCode,ErrorMessage)
		select distinct @NLID,@RecordID,@MediaTypeID,@TopicID, @UserID,@DeviceID,@Status,@ErrorCode,@ErrorMessage
	END

END



GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Update_SentryV2_Notification_Log_SI]    Script Date: 25-02-2025 14:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[USP_Service_Update_SentryV2_Notification_Log_SI]
@NLID INT=0,
@SummaryDetail_Json NVARCHAR(MAX)=NULL,
@Request NVARCHAR(MAX)=NULL,
@Response NVARCHAR(MAX)=NULL
AS
BEGIN	

	IF(@NLID>0)
	BEGIN
		IF(ISNULL(@SummaryDetail_Json,'')!='')
		BEGIN
				UPDATE Event_Notification_Log_SI SET SummaryDetail_Json=@SummaryDetail_Json where NLID=@NLID
		END
		IF(ISNULL(@Request,'')!='')
		BEGIN
				UPDATE Event_Notification_Log_SI SET Request=@Request where NLID=@NLID
		END
		IF(ISNULL(@Response,'')!='')
		BEGIN
				UPDATE Event_Notification_Log_SI SET Response=@Response where NLID=@NLID
		END		
	END
	
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Service_Update_SentryV2_Notification_Log_SI_Detail]    Script Date: 25-02-2025 14:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[USP_Service_Update_SentryV2_Notification_Log_SI_Detail]
@NLID INT=0,
@UserID INT=0,
@Status VARCHAR(500)=NULL
AS
BEGIN
	IF(@NLID>0 and @UserID>0)
	BEGIN
		IF(ISNULL(@Status,'')!='')
		BEGIN
				UPDATE Event_Notification_Log_SI_Detail SET Status=@Status where NLID=@NLID and UserID=@UserID
		END
	END
END

