
GO
/****** Object:  StoredProcedure [dbo].[USP_API_SentryV2_ArticleOnline_ListPage_ViewChart]    Script Date: 10-07-2025 21:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--EXEC [dbo].[USP_API_SentryV2_ArticleOnline_ListPage_ViewChart] 181,'2025-02-14 00:00:00','2025-02-18 14:58:55',@Publication_Domain='ndtv.com'
CREATE PROC [dbo].[USP_API_SentryV2_ArticleOnline_ListPage_ViewChart] --8903
@TopicID INT = 0,
@FromDate datetime = NULL,
@ToDate datetime =null,
@SearchText varchar(5000) = null,
@Publication_Domain varchar(max) = null,
@Sentiment varchar(500) = null,
@Publication_Type varchar(max) = null,
@Publication_DA varchar(500) = null,
@Publication_ImpactScore varchar(500)  = null,
@SortBy varchar(500) = 'date',
@SortOrder varchar(500) = 'desc',
@Publication_Category varchar(max) = null,
@Publication_Traffic varchar(500)  = null,
@Mention_Type varchar(500) = null,
@Client_Mention varchar(50) = null,
@UserID INT = 0,
@Headline_Sentiment varchar(50) = null,
@Article_Type varchar(3000) = null,
@Exclude_By_Text varchar(5000) = null

AS
BEGIN

	select tlome_id into #Temp_facttable
	from fact_online
	where event_id = @TopicID 
		and date_time >= @FromDate 
		and date_time <= @ToDate 
		and 
		(
			(
				event_type_id = 1 
				and is_relevant_about_client = 1
			)
			OR 	
			(
				--is_relevant_about_client = 1 and 
				is_relevant_about_topic = 1
			)
		)
		
		IF @Client_Mention IS NOT NULL
		BEGIN
			IF @Client_Mention='True'
			BEGIN
				SET @Client_Mention='1'
			END
			ELSE
			BEGIN
				SET @Client_Mention='0'
			END
		END
		

		IF @Publication_DA='0-100'
		BEGIN
			SET @Publication_DA=null
		END

		IF @Publication_ImpactScore='0-10'
		BEGIN
			SET @Publication_ImpactScore=null
		END

		DECLARE @IsFilter int
		IF @SearchText IS NULL AND @Publication_Domain IS NULL AND @Sentiment IS NULL AND @Publication_Type IS NULL AND 
		@Publication_DA IS NULL AND @Publication_Traffic IS NULL AND @Publication_ImpactScore IS NULL AND @Publication_Category IS NULL AND @Mention_Type IS NULL
		AND @Client_Mention IS NULL AND @Headline_Sentiment IS NULL AND @Article_Type IS NULL AND @Exclude_By_Text IS NULL
		BEGIN
			SET @IsFilter = 0
		END
		ELSE
		BEGIN
			SET @IsFilter = 1 
		END

		IF @IsFilter = 0
		BEGIN
			
			select tlom.TLOMID as article_id,
			REPLACE(CONVERT(NVARCHAR,LP.Date, 106), ' ', '-') + ' | '+ LTRIM(RIGHT(CONVERT(VARCHAR(20), LP.Date, 100), 7)) as date_time,
			p.Publication as publication
			,LP.Date as date_sort,isnull(p.DA,0) as da_sort,isnull(p.TotalVisits,0) as traffic_sort,isnull(LED.Impact_Score,0) as pi_score_sort
			into #TempNoFilter
			FROM dbo.LinkOnline AO with (nolock)
			INNER JOIN [dbo].[LinkOnline_Processed] LP WITH (NOLOCK) ON LP.LOPID=AO.LOPID
			LEFT JOIN [dbo].mstLinkOnlineAuthor MLOA WITH (NOLOCK) ON MLOA.AuthorID=AO.AuthorID
			INNER JOIN [dbo].mstPublication P WITH (NOLOCK) ON p.PublicationID = AO.PublicationID
			INNER JOIN [dbo].[TagLinkOnlineMap] tlom WITH (NOLOCK) ON tlom.LOID=AO.LOID INNER JOIN [dbo].[TagLinkOnlineMapE] TLOME with(nolock) on TLOME.TLOMID=tlom.TLOMID
			INNER JOIN #Temp_facttable ft WITH (NOLOCK) ON ft.tlome_id=tlome.TLOMEID
			INNER JOIN [dbo].[LinkOnline_Enriched] LE with (nolock) ON LE.LOID = AO.LOID
			INNER JOIN [dbo].[LinkOnline_EnrichedDetail] LED with (nolock) ON LED.TLOMEID = TLOME.TLOMEID
			INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID
			LEFT JOIN [dbo].[Bookmark] B WITH (NOLOCK) on tlom.TLOMID= B.RecordID and PlatformID=1 AND (@UserID = 0 OR B.UserID =@UserID)
			WHERE e.EventID=@TopicID AND LP.Date >= @FromDate AND LP.Date <= @ToDate 
			AND (
					(e.EventTypeID=1 AND LED.Is_Relevant_About_Client = 1) 	OR 	
					(--LED.Is_Relevant_About_Client = 1 AND 
					LED.Is_Relevant_About_Topic = 1)
				)
			ORDER BY AO.Date desc


			IF @SortBy = 'date' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by date_sort asc
			END
			ELSE IF @SortBy = 'date' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by date_sort desc
			END
			ELSE IF @SortBy like '%authority%' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by da_sort asc
			END
			ELSE IF @SortBy  like '%authority%' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by da_sort desc
			END
			ELSE IF @SortBy = 'traffic' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by traffic_sort asc
			END
			ELSE IF @SortBy = 'traffic' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by traffic_sort desc
			END
			ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by pi_score_sort asc
			END
			ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by pi_score_sort desc
			END
			ELSE 
			BEGIN
				SELECT article_id,date_time,publication,date_sort from #TempNoFilter order by date_sort desc
			END

			drop table #TempNoFilter
		END

		---------------------------------------------------------------------------------------------------------------

		IF @IsFilter = 1
		BEGIN
		
		declare @FromIS int,@ToIS int
		IF @Publication_ImpactScore IS NOT NULL
		BEGIN
			SELECT  @FromIS =convert(int,SUBSTRING(@Publication_ImpactScore, 1, CHARINDEX('-', @Publication_ImpactScore)-1)),
			@ToIS =convert(int,SUBSTRING(@Publication_ImpactScore, CHARINDEX('-', @Publication_ImpactScore)+1, LEN(@Publication_ImpactScore)))
		END
		
		select tlom.TLOMID as article_id,
		REPLACE(CONVERT(NVARCHAR,LP.Date, 106), ' ', '-') + ' | '+ LTRIM(RIGHT(CONVERT(VARCHAR(20), LP.Date, 100), 7)) as date_time
		,p.Publication as publication
		,LP.Date as date_sort,isnull(p.DA,0) as da_sort,isnull(p.TotalVisits,0) as traffic_sort,isnull(LED.Impact_Score,0) as pi_score_sort,TLOME.TLOMEID
		into #TempData
		FROM dbo.LinkOnline AO with (nolock)
		INNER JOIN [dbo].[LinkOnline_Processed] LP WITH (NOLOCK) ON LP.LOPID=AO.LOPID
		LEFT JOIN [dbo].mstLinkOnlineAuthor MLOA WITH (NOLOCK) ON MLOA.AuthorID=AO.AuthorID
		INNER JOIN [dbo].mstPublication P WITH (NOLOCK) ON p.PublicationID = AO.PublicationID
		INNER JOIN [dbo].[TagLinkOnlineMap] tlom WITH (NOLOCK) ON tlom.LOID=AO.LOID INNER JOIN [dbo].[TagLinkOnlineMapE] TLOME with(nolock) on TLOME.TLOMID=tlom.TLOMID
		INNER JOIN #Temp_facttable ft WITH (NOLOCK) ON ft.tlome_id=TLOME.TLOMEID
		INNER JOIN [dbo].[LinkOnline_Enriched] LE with (nolock) ON LE.LOID = AO.LOID
		INNER JOIN [dbo].[LinkOnline_EnrichedDetail] LED with (nolock) ON LED.TLOMEID = TLOME.TLOMEID
		INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID
		LEFT JOIN [dbo].[Bookmark] B WITH (NOLOCK) on tlom.TLOMID= B.RecordID and PlatformID=1 AND (@UserID = 0 OR B.UserID =@UserID)
		WHERE e.EventID=@TopicID AND LP.Date >= @FromDate AND LP.Date <= @ToDate 
		AND (
				(e.EventTypeID=1 AND LED.Is_Relevant_About_Client = 1) 	OR 	
				(--LED.Is_Relevant_About_Client = 1 AND 
				LED.Is_Relevant_About_Topic = 1)
			)
		
		AND (@Sentiment IS NULL OR LED.Sentiment in ( select * from dbo.GetSplitedValues_String(@Sentiment)))
		--AND (@Publication_Domain IS NULL OR AO.publication_url in ( select * from dbo.GetSplitedValues_String(@Publication_Domain)))
		AND (@SearchText IS NULL OR LP.Title + ' '+LP.Text like '%'+@SearchText+'%')
		AND (@Publication_Domain IS NULL OR p.Publication like '%'+@Publication_Domain+'%')
		--AND (@Publication_Type IS NULL OR isnull(p.publicationtype,'NA') in ( select * from dbo.GetSplitedValues_String(@Publication_Type)))
		AND (@Publication_Type IS NULL OR isnull(p.Type,'NA') in ( select * from dbo.GetSplitedValues_String(@Publication_Type)))
		AND (@Publication_ImpactScore IS NULL OR (isnull(CONVERT(int,ISNULL(LED.Impact_Score,0)),0) BETWEEN @FromIS AND @ToIS))
		AND (@Mention_Type IS NULL OR (LED.Article_Mention = @Mention_Type))
		AND (@Client_Mention IS NULL OR (ISNULL(LED.[client_name_in_headline],0) = convert(int,@Client_Mention)))
		AND (@Headline_Sentiment IS NULL OR ISNULL(LED.headline_sentiments,'Neutral') in ( select * from dbo.GetSplitedValues_String(@Headline_Sentiment)))
		AND (@Exclude_By_Text IS NULL OR LP.Title + ' '+LP.Text not like '%'+@Exclude_By_Text+'%')
		
		IF @Article_Type IS NOT NULL
		BEGIN

			select le.TLOMEID into #TempArticle_Type from [LinkOnline_EnrichedDetail] le with (nolock)
			INNER JOIN [dbo].LinkOnline_Enriched_ArticleType LEA with (nolock) ON LEA.LOEID = LE.LOEID
			INNER JOIN [dbo].mstArticleType_Enriched ME with (nolock) ON ME.ArticleTypeID = LEA.ArticleTypeID
			where le.TLOMEID in (select TLOMEID from #TempData)  and ltrim(rtrim(me.ArticleType)) in (( select * from dbo.GetSplitedValues_String(@Article_Type)))

			delete from #TempData where TLOMEID not in (select TLOMEID from #TempArticle_Type)

			drop table #TempArticle_Type

		END

		IF @Publication_DA IS NULL
		BEGIN
			SET @Publication_DA = '0,101'
		END
		ELSE 
		BEGIN
			SET @Publication_DA = replace(replace(@Publication_DA,',','|'),'-',',')
		END

		IF @Publication_Traffic IS NULL
		BEGIN
			SET @Publication_Traffic = '0,10000000000'
		END
		ELSE 
		BEGIN
			SET @Publication_Traffic = replace(replace(@Publication_Traffic,',','|'),'-',',')
		END
		
		CREATE TABLE #ReturnData
		(
			article_id int,date_time nvarchar(max),
			publication nvarchar(max),
			date_sort smalldatetime, da_sort int,traffic_sort bigint,pi_score_sort int
		)

		select  DISTINCT ROW_NUMBER() OVER(ORDER BY SplitValues) AS RN,* into #Temp from dbo.[SplitString](@Publication_DA,'|') order by 1 asc

		Declare @Count_Keywords int
		
		SELECT @Count_Keywords =(SELECT COUNT(1) FROM #Temp )
		
		WHILE(@Count_Keywords>0)
		BEGIN
			declare @From bigint,@To bigint
					
			SELECT  @From =convert(bigint,SUBSTRING(splitvalues, 1, CHARINDEX(',', splitvalues)-1)),	
					@To =convert(bigint,SUBSTRING(splitvalues, CHARINDEX(',', splitvalues)+1, LEN(splitvalues))) FROM #Temp WHERE RN=@Count_Keywords


			INSERT INTO #ReturnData(article_id,date_time,
			publication,
			date_sort,da_sort,traffic_sort,pi_score_sort)
			SELECT article_id,date_time,
			publication,
			date_sort,da_sort,traffic_sort,pi_score_sort
			from #TempData
			WHERE isnull(da_sort,0) BETWEEN @From AND @To

					

			SET @Count_Keywords= @Count_Keywords-1
		END


		--For Traffic

		CREATE TABLE #ReturnData1
		(
			article_id int,
			date_time nvarchar(max),
			publication nvarchar(max),
			date_sort smalldatetime, da_sort int,traffic_sort bigint,pi_score_sort int

		)

		select  DISTINCT ROW_NUMBER() OVER(ORDER BY SplitValues) AS RN,* into #Temp1 from dbo.[SplitString](@Publication_Traffic,'|') order by 1 asc

		SET @Count_Keywords = 0
		
		SELECT @Count_Keywords =(SELECT COUNT(1) FROM #Temp1 )
		
		WHILE(@Count_Keywords>0)
		BEGIN
					
			SELECT  @From =convert(bigint,SUBSTRING(splitvalues, 1, CHARINDEX(',', splitvalues)-1)),	
					@To =convert(bigint,SUBSTRING(splitvalues, CHARINDEX(',', splitvalues)+1, LEN(splitvalues))) FROM #Temp1 WHERE RN=@Count_Keywords


			INSERT INTO #ReturnData1(article_id,date_time,
			publication,
			date_sort,da_sort,traffic_sort,pi_score_sort)
			SELECT article_id,date_time,
			publication,
			date_sort,da_sort,traffic_sort,pi_score_sort
			from #ReturnData
			WHERE isnull(traffic_sort,0) BETWEEN @From AND @To

					

			SET @Count_Keywords= @Count_Keywords-1
		END

		--SELECT article_id,incident_id,url,title,description,date_time,
		--		author,sentiment,publication,publication_icon,publication_type,publication_category,
		--		publication_da ,publication_traffic,pi_score from #ReturnData1 order by Date desc


		

		IF @SortBy = 'date' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by date_sort asc
		END
		ELSE IF @SortBy = 'date' AND @SortOrder = 'desc'
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by date_sort desc
		END
		ELSE IF @SortBy  like '%authority%' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by da_sort asc
		END
		ELSE IF @SortBy  like '%authority%' AND @SortOrder = 'desc'
		BEGIN
			print 'Here'
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by da_sort desc
		END
		ELSE IF @SortBy = 'traffic' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by traffic_sort asc
		END
		ELSE IF @SortBy = 'traffic' AND @SortOrder = 'desc'
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by traffic_sort desc
		END
		ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by pi_score_sort asc
		END
		ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'desc'
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by pi_score_sort desc
		END
		ELSE 
		BEGIN
			SELECT article_id,date_time,publication,date_sort from #ReturnData1 order by date_sort desc
		END

		drop table #Temp,#Temp1,#TempData,#ReturnData,#ReturnData1

		END
END




GO
/****** Object:  StoredProcedure [dbo].[USP_API_SentryV2_ArticlePrint_ListPage_ViewChart]    Script Date: 10-07-2025 21:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [dbo].[USP_API_SentryV2_ArticlePrint_ListPage_ViewChart] 3,'2025-01-01 00:00:00','2025-01-11 23:00:00',@Publication_Edition='Kanpur',@Publication_ImpactScore='1-4'
CREATE PROC [dbo].[USP_API_SentryV2_ArticlePrint_ListPage_ViewChart] --8903
@TopicID INT = 0,
@FromDate datetime = NULL,
@ToDate datetime =null,
@SearchText varchar(5000) = null,
@Sentiment varchar(500) = null,
@Publication_Name varchar(max) = null,
@Publication_Category varchar(max) = null,
@Publication_Edition varchar(max) = null,
@Publication_Type varchar(max) = null,
@Publication_Circulation varchar(500) = null,
@Publication_ImpactScore varchar(500)  = null,
@SortBy varchar(500) = 'date',
@SortOrder varchar(500) = 'desc',
@Mention_Type varchar(500)  = null,
@Client_Mention varchar(50) = null,
@UserID INT = 0,
@Headline_Sentiment varchar(50) = null,
@Article_Type varchar(3000) = null,
@Author varchar(3000) = null,
@Exclude_By_Text varchar(5000) = null,
@Language varchar(max) = null

AS
BEGIN
		select TLPMEID into #Temp_facttable
		FROM [dbo].[fact_print] fp with(nolock)
		WHERE EventID = @TopicID 
            AND NewsDate BETWEEN @FromDate AND @ToDate 
            AND ((Event_Type_ID = 1 AND Is_Relevant_About_Client = 1) 
                OR (--Is_Relevant_About_Client = 1 AND 
				Is_Relevant_About_Topic = 1))

		IF @Client_Mention IS NOT NULL
		BEGIN
			IF @Client_Mention='True'
			BEGIN
				SET @Client_Mention='1'
			END
			ELSE
			BEGIN
				SET @Client_Mention='0'
			END
		END

		DECLARE @IsFilter int
		IF @SearchText IS NULL AND @Sentiment IS NULL AND @Publication_Name IS NULL AND @Publication_Category IS NULL AND @Publication_Edition IS NULL AND 
		@Publication_Type IS NULL AND @Publication_Circulation IS NULL AND @Publication_ImpactScore IS NULL AND @Mention_Type IS NULL
		AND @Client_Mention IS NULL AND @Headline_Sentiment IS NULL AND @Article_Type IS NULL AND @Author IS NULL AND @Exclude_By_Text IS NULL AND @Language IS NULL
		BEGIN
			SET @IsFilter = 0
		END
		ELSE
		BEGIN
			SET @IsFilter = 1 
		END
		
		IF @IsFilter = 0
		BEGIN
			select distinct tlom.TLPMID as article_id,p.Publication as publication_name,
			REPLACE(CONVERT(NVARCHAR,AO.NewsDate, 106), ' ', '-') as date_time,
			AO.NewsDate as date_sort,isnull(circulationscore,0) as circulation_sort,isnull(AVE,0) as ave_sort,replace(LED.Article_Mention,' Mention','') as mention_type
			,LED.Impact_Score as pi_score_sort
			into #TempNoFilter
			FROM dbo.LinkPrint AO with (nolock)
			INNER JOIN [dbo].mstPublication P WITH (NOLOCK) ON p.PublicationID = AO.PublicationID
			LEFT JOIN [dbo].mstLinkPrintAgency MLPA WITH (NOLOCK) ON MLPA.AgencyID=AO.AgencyID
			LEFT JOIN LinkPrint_Journalist LPJ WITH(NOLOCK) ON AO.LPID=LPJ.LPID
			LEFT JOIN mstLinkPrintJournalist MLPJ WITH(NOLOCK) ON MLPJ.JournalistID=LPJ.JournalistID
			INNER JOIN [dbo].[TagLinkPrintMap] tlom WITH (NOLOCK) ON tlom.LPID=AO.LPID INNER JOIN [dbo].[TagLinkPrintMapE] tlome WITH (NOLOCK) ON TLOME.TLPMID=tlom.TLPMID
			INNER JOIN #Temp_facttable ft WITH (NOLOCK) ON ft.tlpmeid=tlome.TLPMEID
			INNER JOIN [dbo].[LinkPrint_Enriched] LE with (nolock) ON LE.LPID = AO.LPID
			--INNER JOIN [dbo].LinkPrint_Enriched_ArticleType LEA with (nolock) ON LEA.LPEID = LE.LPEID
			--INNER JOIN [dbo].mstArticleType_Enriched ME with (nolock) ON ME.ArticleTypeID = LEA.ArticleTypeID
			INNER JOIN [dbo].[LinkPrint_EnrichedDetail] LED with (nolock) ON LED.TLPMEID = TLOME.TLPMEID
			INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID
			LEFT JOIN [dbo].[Bookmark] B WITH (NOLOCK) on tlom.TLPMID= B.RecordID and PlatformID=2 AND (@UserID = 0 OR B.UserID =@UserID)
			LEFT JOIN mstLanguage Lan WITH(NOLOCK) ON Lan.LanguageID=AO.LanguageID
			WHERE e.EventID=@TopicID AND AO.NewsDate >= @FromDate AND AO.NewsDate <= @ToDate 
			AND (
				(e.EventTypeID=1 AND LED.Is_Relevant_About_Client = 1) 	OR 	
				(--LED.Is_Relevant_About_Client = 1 AND 
				LED.Is_Relevant_About_Topic = 1)
			)

			IF @SortBy = 'date' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by date_sort asc
			END
			ELSE IF @SortBy = 'date' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by date_sort desc
			END
			ELSE IF @SortBy = 'circulation' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by circulation_sort asc
			END
			ELSE IF @SortBy = 'circulation' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by circulation_sort desc
			END
			ELSE IF @SortBy = 'ave' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by ave_sort asc
			END
			ELSE IF @SortBy = 'ave' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by ave_sort desc
			END
			ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'asc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by pi_score_sort asc
			END
			ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'desc'
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by pi_score_sort desc
			END
			ELSE 
			BEGIN
				SELECT article_id,publication_name,date_time,date_sort from #TempNoFilter order by date_sort desc
			END

			DROP TABLE #TempNoFilter
		END

		IF @IsFilter = 1
		BEGIN
		
			declare @FromIS int,@ToIS int
			IF @Publication_ImpactScore IS NOT NULL
			BEGIN
				SELECT  @FromIS =convert(int,SUBSTRING(@Publication_ImpactScore, 1, CHARINDEX('-', @Publication_ImpactScore)-1)),
				@ToIS =convert(int,SUBSTRING(@Publication_ImpactScore, CHARINDEX('-', @Publication_ImpactScore)+1, LEN(@Publication_ImpactScore)))
			END
		

		select distinct tlom.TLPMID as article_id,
		p.Publication as publication_name,
		REPLACE(CONVERT(NVARCHAR,AO.NewsDate, 106), ' ', '-') as date_time,		
		AO.NewsDate as date_sort,isnull(circulationscore,0) as circulation_sort,isnull(AVE,0) as ave_sort,
		isnull(LED.Impact_Score,0) as pi_score_sort,TLOME.TLPMEID,
		stuff((SELECT  ',' + mstLinkPrintEdition.Edition
				FROM LinkPrint_Edition 
				INNER JOIN mstLinkPrintEdition with (nolock) ON  mstLinkPrintEdition.EditionID = LinkPrint_Edition.EditionID
				WHERE LinkPrint_Edition.LPID = AO.LPID
				FOR XML PATH('')),1,1,'') AS edition
		into #TempData
		FROM dbo.LinkPrint AO with (nolock)
		INNER JOIN [dbo].mstPublication P WITH (NOLOCK) ON p.PublicationID = AO.PublicationID
		LEFT JOIN [dbo].mstLinkPrintAgency MLPA WITH (NOLOCK) ON MLPA.AgencyID=AO.AgencyID
		LEFT JOIN LinkPrint_Journalist LPJ WITH(NOLOCK) ON AO.LPID=LPJ.LPID
		LEFT JOIN mstLinkPrintJournalist MLPJ WITH(NOLOCK) ON MLPJ.JournalistID=LPJ.JournalistID
		INNER JOIN [dbo].[TagLinkPrintMap] tlom WITH (NOLOCK) ON tlom.LPID=AO.LPID INNER JOIN [dbo].[TagLinkPrintMapE] tlome WITH (NOLOCK) ON TLOME.TLPMID=tlom.TLPMID
		INNER JOIN [dbo].[LinkPrint_Enriched] LE with (nolock) ON LE.LPID = AO.LPID
		--INNER JOIN [dbo].LinkPrint_Enriched_ArticleType LEA with (nolock) ON LEA.LPEID = LE.LPEID
		--INNER JOIN [dbo].mstArticleType_Enriched ME with (nolock) ON ME.ArticleTypeID = LEA.ArticleTypeID
		INNER JOIN [dbo].[LinkPrint_EnrichedDetail] LED with (nolock) ON LED.TLPMEID = TLOME.TLPMEID
		INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID
		LEFT JOIN [dbo].[Bookmark] B WITH (NOLOCK) on tlom.TLPMID= B.RecordID and PlatformID=2 AND (@UserID = 0 OR B.UserID =@UserID)
		LEFT JOIN mstLanguage Lan WITH(NOLOCK) ON Lan.LanguageID=AO.LanguageID
		WHERE e.EventID=@TopicID AND AO.NewsDate >= @FromDate AND AO.NewsDate <= @ToDate 
		AND (
			(e.EventTypeID=1 AND LED.Is_Relevant_About_Client = 1) 	OR 	
			(--LED.Is_Relevant_About_Client = 1 AND 
			LED.Is_Relevant_About_Topic = 1)
		)
		AND (@SearchText IS NULL OR isnull(AO.Title,'') + ' '+isnull(AO.Text,'')
		+ ' '+isnull( MLPA.Agency,'')+ ' '+isnull( AO.Source,'')+ ' '+isnull( MLPJ.JournalistName,'') like '%'+@SearchText+'%')
		AND (@Sentiment IS NULL OR LED.Sentiment in ( select * from dbo.GetSplitedValues_String(@Sentiment)))
		AND (@Publication_Name IS NULL OR p.Publication in ( select * from dbo.GetSplitedValues_String(@Publication_Name)))
		AND (@Publication_Type IS NULL OR isnull(p.Type,'NA') in ( select * from dbo.GetSplitedValues_String(@Publication_Type)))
		AND (@Publication_ImpactScore IS NULL OR (LED.Impact_Score BETWEEN @FromIS AND @ToIS))
		AND (@Mention_Type IS NULL OR (LED.Article_Mention = @Mention_Type))
		AND (@Client_Mention IS NULL OR (ISNULL(LED.[client_name_in_headline],0) = convert(int,@Client_Mention)))
		AND (@Headline_Sentiment IS NULL OR replace(isnull(LED.headline_sentiments,'Neutral'),'None','Neutral') in ( select * from dbo.GetSplitedValues_String(@Headline_Sentiment)))
		AND (@Exclude_By_Text IS NULL OR isnull(AO.Title,'') + ' '+isnull(AO.Text,'')
		+ ' '+isnull( MLPA.Agency,'')+ ' '+isnull( AO.Source,'')+ ' '+isnull( MLPJ.JournalistName,'') not like '%'+@Exclude_By_Text+'%')
		AND (@Language IS NULL OR isnull(Lan.Language,'NA') in ( select * from dbo.GetSplitedValues_String(@Language)))

		IF @Article_Type IS NOT NULL
		BEGIN

			select le.TLPMEID into #TempArticle_Type from [LinkPrint_EnrichedDetail] le with (nolock)
			INNER JOIN [dbo].LinkPrint_Enriched_ArticleType LEA with (nolock) ON LEA.LPEID = LE.LPEID
			INNER JOIN [dbo].mstArticleType_Enriched ME with (nolock) ON ME.ArticleTypeID = LEA.ArticleTypeID
			where le.TLPMEID in (select TLPMEID from #TempData) and me.ArticleType in (( select * from dbo.GetSplitedValues_String(@Article_Type)))

			delete from #TempData where TLPMEID not in (select TLPMEID from #TempArticle_Type)

			drop table #TempArticle_Type

		END

		IF @Publication_Circulation IS NULL
		BEGIN
			SET @Publication_Circulation = '0,10000000000'
		END
		ELSE 
		BEGIN
			SET @Publication_Circulation = replace(replace(@Publication_Circulation,',','|'),'-',',')
		END
		
		CREATE TABLE #ReturnData
		(
			article_id int,
			publication_name nvarchar(max),
			date_time nvarchar(max),
			date_sort smalldatetime, circulation_sort bigint,ave_sort bigint,
			pie_score_sort int

		)

		select  DISTINCT ROW_NUMBER() OVER(ORDER BY SplitValues) AS RN,* into #Temp from dbo.[SplitString](@Publication_Circulation,'|') order by 1 asc
		
		Declare @Count_Keywords int
		
		SELECT @Count_Keywords =(SELECT COUNT(1) FROM #Temp )
		
		WHILE(@Count_Keywords>0)
		BEGIN
			declare @From bigint,@To bigint
					
			SELECT  @From =convert(bigint,SUBSTRING(splitvalues, 1, CHARINDEX(',', splitvalues)-1)),	
					@To =convert(bigint,SUBSTRING(splitvalues, CHARINDEX(',', splitvalues)+1, LEN(splitvalues))) FROM #Temp WHERE RN=@Count_Keywords

			print @From
			print @From
			INSERT INTO #ReturnData
			SELECT article_id,
			publication_name,
			date_time,
			date_sort,circulation_sort,ave_sort,pi_score_sort
			from #TempData
			WHERE isnull(circulation_sort,0) BETWEEN @From AND @To

					

			SET @Count_Keywords= @Count_Keywords-1
		END


		--------------------------------------
		--EDITION
		--------------------------------------

		CREATE TABLE #ReturnData1
		(
			article_id int,
			publication_name nvarchar(max),
			date_time nvarchar(max),
			date_sort smalldatetime, circulation_sort bigint,ave_sort bigint,
			pie_score_sort int
		)

		IF @Publication_Edition IS NULL
		BEGIN
			INSERT INTO #ReturnData1
			SELECT article_id,publication_name,date_time,
			date_sort,circulation_sort,ave_sort,pie_score_sort
			from #ReturnData
		END
		ELSE
		BEGIN

			select  DISTINCT ROW_NUMBER() OVER(ORDER BY SplitValues) AS RN,* into #Temp1 from dbo.[SplitString](@Publication_Edition,',') order by 1 asc
		
			SET @Count_Keywords = 0
		
			SELECT @Count_Keywords =(SELECT COUNT(1) FROM #Temp1 )
		
			WHILE(@Count_Keywords>0)
			BEGIN
				declare @TempEdition nvarchar(max)
					
				SELECT  @TempEdition = splitvalues from #Temp1 WHERE RN=@Count_Keywords

				INSERT INTO #ReturnData1
				SELECT article_id,publication_name,date_time,
				date_sort,circulation_sort,ave_sort,pi_score_sort
				from #TempData
				WHERE edition like '%'+ltrim(rtrim(@TempEdition))+'%'

				SET @Count_Keywords= @Count_Keywords-1
			END
			drop table #Temp1
		END

		select top 0 * into #ReturnDataFinal from #ReturnData1
		
		IF @Author IS NOT NULL
		BEGIN
			
			SELECT article_id, ltrim(rtrim(Split.value)) as splitValue into #Temp_Author
			FROM #ReturnData1
			CROSS APPLY STRING_SPLIT(isnull(author,'NA'), ',') as Split

			

			insert into #ReturnDataFinal
			SELECT #ReturnData1.* from #ReturnData1
			inner join #Temp_Author on #Temp_Author.article_id=#ReturnData1.article_id
			where splitValue in (select * from dbo.GetSplitedValues_String(@Author))

			drop table #Temp_Author
		END
		ELSE
		BEGIN
			
			insert into #ReturnDataFinal
			SELECT #ReturnData1.* from #ReturnData1
		END
		
		IF @SortBy = 'date' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by date_sort asc
		END
		ELSE IF @SortBy = 'date' AND @SortOrder = 'desc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by date_sort desc
		END
		ELSE IF @SortBy = 'circulation' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by circulation_sort asc
		END
		ELSE IF @SortBy = 'circulation' AND @SortOrder = 'desc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by circulation_sort desc
		END
		ELSE IF @SortBy = 'ave' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort,circulation_sort,ave_sort,pie_score_sort
			from #ReturnDataFinal order by ave_sort asc
		END
		ELSE IF @SortBy = 'ave' AND @SortOrder = 'desc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by ave_sort desc
		END
		ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'asc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by pie_score_sort asc
		END
		ELSE IF @SortBy = 'impact_score' AND @SortOrder = 'desc'
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by pie_score_sort desc
		END
		ELSE 
		BEGIN
			SELECT article_id,publication_name,date_time,
			date_sort
			from #ReturnDataFinal order by date_sort asc
		END

		
		drop table #Temp,#TempData,#ReturnData,#ReturnData1,#ReturnDataFinal

		END
		
END




GO
/****** Object:  StoredProcedure [dbo].[USP_API_SentryV2_Twitter_ListPage_ViewChart]    Script Date: 10-07-2025 21:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC [dbo].[USP_API_SentryV2_Twitter_ListPage_ViewChart] 1286,'2025-05-22 00:00:00','2025-06-04 00:00:00','2025-06-04 13:39:07',@Participant_Type='Media & Influencers'
CREATE PROC [dbo].[USP_API_SentryV2_Twitter_ListPage_ViewChart] 
@TopicID INT = 0,
@BaseDate datetime = NULL,
@FromDate datetime = NULL,
@ToDate datetime =null,
@Sentiment varchar(500) = null,
@Media_Type varchar(max) = null,
@Mentioned_Hashtag nvarchar(max) = null,
@Mentioned_Handle nvarchar(max) = null,
@Profile_Category nvarchar(max) = null,
@Mention_Type varchar(200) = null,
@Profile_Name nvarchar(2000) = null,
@Profile_Handle nvarchar(2000) = null,
@Participant_Type varchar(500) = null,
@Profile_Followerscount varchar(1000) = null,
@SortBy varchar(500) = 'date',
@SortOrder varchar(500) = 'desc',
@profile_verifiedType varchar(500) = null,
@UserID INT = 0,
@Tonality varchar(500) = null,
@Eng_Type varchar(200) = null,
@SearchText varchar(5000) = null,
@Exclude_By_Text varchar(5000) = null
AS
BEGIN

		select tltm_id,participant_type as MIparticipant into #Temp_facttable
		from fact_twitter
		where event_id = @TopicID
		and tweet_date >= @BaseDate 
		AND tweet_date <= @ToDate 
		AND Is_Relevant_About_Topic=1
		CREATE NONCLUSTERED INDEX [XI_Facttable_MIparticipant] ON [dbo].[#Temp_facttable] ([tltm_id]) INCLUDE ([MIparticipant])
		

		declare @IsFilter tinyint =0

		create table #TempNoFilter_BaseToFrom
		(
			profile_handle nvarchar(2000) 
		)

		insert into #TempNoFilter_BaseToFrom
		select '' as profile_handle

		if @Participant_Type IS NOT NULL
		BEGIN
			delete from #TempNoFilter_BaseToFrom

			insert into #TempNoFilter_BaseToFrom
			select th.THID as profile_handle
			FROM [dbo].LinkTweet t with (nolock)
			inner join LinkTweet_Detail ld with (nolock) on ld.LTID = t.LTID
			inner join TwitterHandle th with (nolock) on th.THID = t.THID
			inner join LinkTweet_Engagement LTE with (nolock) on LTE.LTID = t.LTID
			INNER JOIN [dbo].[TagLinkTweetMap] tlom WITH (NOLOCK) ON tlom.LTID=t.LTID INNER JOIN [dbo].[TagLinkTweetMapE] tlome WITH (NOLOCK) ON TLOME.TLTMID=tlom.TLTMID
			INNER JOIN #Temp_facttable ft WITH (NOLOCK) ON ft.tltm_id=tlom.TLTMID
			INNER JOIN [dbo].[LinkTweet_Enriched] LE with (nolock) ON LE.LTID = t.LTID
			INNER JOIN [dbo].[LinkTweet_EnrichedDetail] LED with (nolock) ON LED.TLTMEID = TLOME.TLTMEID
			INNER JOIN [dbo].mstTonality_Enriched ME with (nolock) ON ME.TonalityID = LED.TonalityID
			INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID
			WHERE e.EventID=@TopicID AND t.Tweet_Date >= @BaseDate AND t.Tweet_Date <= @FromDate 
			AND ld.Tweet_IsRetweeted = 0 AND led.Is_Relevant_About_Topic=1
			ORDER BY t.Tweet_Date desc

		END


		
		IF @Mentioned_Hashtag IS NOT NULL OR @Mentioned_Handle IS NOT NULL OR @Sentiment IS NOT NULL OR @Media_Type IS NOT NULL OR @Mentioned_Hashtag IS NOT NULL OR @Mentioned_Handle IS NOT NULL OR @Profile_Category IS NOT NULL OR
		@Mention_Type  IS NOT NULL OR @Profile_Name IS NOT NULL OR @Profile_Handle IS NOT NULL OR @Participant_Type IS NOT NULL OR
		@Profile_Followerscount IS NOT NULL OR @profile_verifiedType IS NOT NULL OR @Tonality  IS NOT NULL OR @Eng_Type IS NOT NULL AND @SearchText IS NOT NULL AND @Exclude_By_Text IS NOT NULL
		BEGIN

			SET @IsFilter=1

		END

		declare @Mentioned_Images varchar(max) ,
		@Mentioned_Videos varchar(max) ,
		@Mentioned_Hyperlinks varchar(max) ,
		@Mention_Type_val tinyint

		IF @Media_Type IS NOT NULL
		BEGIN
			IF @Media_Type like '%image%'
			BEGIN
				SET @Mentioned_Images = '1'
				SET @IsFilter = 1
			END
			ELSE IF @Media_Type like '%link%'
			BEGIN
				SET @Mentioned_Hyperlinks = '1'
				SET @IsFilter = 1
			END
			ELSE IF @Media_Type like '%video%'
			BEGIN
				SET @Mentioned_Videos = '1'
				SET @IsFilter = 1
			END
		END
		ELSE 
		BEGIN
			SET @Mentioned_Images = NULL
			SET @Mentioned_Videos = NULL
			SET @Mentioned_Hyperlinks = NULL
		END

		Declare @IsVerified int
		SET @IsVerified = 2

		IF @Profile_Category='Verified'
		BEGIN
			SET @Profile_Category = NULL
			SET @IsVerified = 1
		END
		ELSE IF @Profile_Category like '%Verified%'
		BEGIN
			SET @IsVerified = 1
		END
		ELSE
		BEGIN
			SET @IsVerified = 2
		END
		
		SET @Mention_Type_val = NULL

		IF @Mention_Type IS NOT NULL AND @Mention_Type ='with_keyword'
		BEGIN
			SET @Mention_Type_val = 1
		END
		ELSE IF @Mention_Type IS NOT NULL AND @Mention_Type ='without_keyword'
		BEGIN
			SET @Mention_Type_val = 3
		END

		declare @FromFC int,@ToFC int
		IF @Profile_Followerscount IS NOT NULL
		BEGIN
			SELECT  @FromFC =convert(int,SUBSTRING(@Profile_Followerscount, 1, CHARINDEX('-', @Profile_Followerscount)-1)),
			@ToFC =convert(int,SUBSTRING(@Profile_Followerscount, CHARINDEX('-', @Profile_Followerscount)+1, LEN(@Profile_Followerscount)))
		END
		
		CREATE TABLE #TempNoFilter_Data 
		(
			twitter_id bigint, 
			description nvarchar(max),
			date_time nvarchar(200),
			sentiment varchar(100), 
			profile_handle nvarchar(100),
			profile_name nvarchar(2000),
			profile_followerscount bigint,
			profile_verifiedtype varchar(50),
			engagement_retweetcount bigint,
			engagement_replycount bigint,
			engagement_likecount bigint,
			engagement_quotecount bigint,
			participant_type varchar(20),
			Mentioned_Hashtags nvarchar(max),			
			Mentioned_Handles nvarchar(max),
			UserProfileCategory nvarchar(200),
			Mentioned_Images nvarchar(max),
			Mentioned_Hyperlinks nvarchar(max),
			Mentioned_Videos nvarchar(max),
			tonality varchar(500),
			date_sort smalldatetime,
			reach_sort bigint,
			engagement_sort bigint,
			views_sort bigint,
			TypeOfListening tinyint,
			MIparticipant tinyint,
			THID INT
		)

		IF @IsFilter = 0
		BEGIN
			
			--DROP TABLE IF EXISTS #TempNoFilter_Data;
			--delete from #TempNoFilter_Data

			select tlom.TLTMID,t.*,TonalityID,sentiment,ft.MIparticipant  into #LinkTweet from LinkTweet t with (nolock) 
			INNER JOIN [dbo].[TagLinkTweetMap] tlom WITH (NOLOCK) ON tlom.LTID=t.LTID 
			INNER JOIN [dbo].[TagLinkTweetMapE] tlome WITH (NOLOCK) ON TLOME.TLTMID=tlom.TLTMID
			INNER JOIN #Temp_facttable ft WITH (NOLOCK) ON ft.tltm_id=tlom.TLTMID
			INNER JOIN [dbo].[LinkTweet_Enriched] LE with (nolock) ON LE.LTID = t.LTID
			INNER JOIN [dbo].[LinkTweet_EnrichedDetail] LED with (nolock) ON LED.TLTMEID = TLOME.TLTMEID AND led.Is_Relevant_About_Topic=1
			INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID AND e.EventID=@TopicID
			where t.Tweet_Date >= @FromDate AND t.Tweet_Date <= @ToDate 

			insert into #TempNoFilter_Data
			select TLTMID as twitter_id,t.Tweet_Text as description,
			REPLACE(CONVERT(NVARCHAR,t.Tweet_Date, 106), ' ', '-') + ' | '+ LTRIM(RIGHT(CONVERT(VARCHAR(20), t.Tweet_Date, 100), 7)) as date_time,
			sentiment,
			profile_handle,profile_name,
			profile_followerscount,
			profile_verifiedtype,
			0,0,0,0,
			'' as participant_type,
			'' AS Mentioned_Hashtags,
			'' AS Mentioned_Handles,
			Profile_Category as UserProfileCategory,'','','',
			tonality,
			t.Tweet_Date as date_sort,profile_followerscount as reach_sort,
			(engagement_retweetcount+engagement_replycount+engagement_likecount+engagement_bookmarkcount) as engagement_sort,
			engagement_viewcount as views_sort,
			TypeOfListening,
			MIparticipant,th.THID
			--into #TempNoFilter_Data
			FROM #LinkTweet t with (nolock) 
			inner join LinkTweet_Detail ld with (nolock) on ld.LTID = t.LTID
			inner join TwitterHandle th with (nolock) on th.THID = t.THID
			inner join LinkTweet_Engagement LTE with (nolock) on LTE.LTID = t.LTID
			INNER JOIN [dbo].mstTonality_Enriched ME with (nolock) ON ME.TonalityID = t.TonalityID
			LEFT JOIN Bookmark B WITH (NOLOCK) on TLTMID= B.RecordID and PlatformID=3 AND (@UserID = 0 OR B.UserID =@UserID)

			select * into #TempNoFilter from #TempNoFilter_Data
			WHERE (@Sentiment IS NULL OR sentiment in ( select * from dbo.GetSplitedValues_String(@Sentiment)))
			--AND (@Mentioned_Hashtag IS NULL OR Mentioned_Hashtags like '%'+ @Mentioned_Hashtag +'%')
			AND (@Mentioned_Handle IS NULL OR Mentioned_Handles like '%'+ @Mentioned_Handle +'%')
			AND (@Profile_Category IS NULL OR UserProfileCategory in ( select * from dbo.GetSplitedValues_String(@Profile_Category)))
			--OR (@IsVerified = 2 OR profile_isverified = @IsVerified)
			AND (@Mentioned_Images IS NULL OR Mentioned_Images is not null)
			AND (@Mentioned_Hyperlinks IS NULL OR Mentioned_Hyperlinks is not null)
			AND (@Mentioned_Videos IS NULL OR Mentioned_Videos is not null)
			AND (@Mention_Type_val IS NULL OR TypeOfListening=@Mention_Type_val)
			AND (@Profile_Name IS NULL OR profile_name like '%'+ @Profile_Name +'%')
			AND (@Profile_Handle IS NULL OR profile_handle like '%'+ @Profile_Handle +'%')
			AND (@SearchText IS NULL OR description like '%'+@SearchText+'%')
			AND (@Exclude_By_Text IS NULL OR description not like '%'+@Exclude_By_Text+'%')
			AND (@Profile_Followerscount IS NULL OR (profile_followerscount BETWEEN @FromFC AND @ToFC))
			AND (@Participant_Type IS NULL OR 
				(@Participant_Type = 'Media & Influencers' AND ( (UserProfileCategory like '%Journalist%') OR (UserProfileCategory like '%Reporter%') OR (UserProfileCategory like '%Influencer%') )) OR
				(participant_type in ( select * from dbo.GetSplitedValues_String(@Participant_Type)))
			)
			--AND (@profile_verifiedType IS NULL OR isnull(profile_verifiedtype,'none')=@profile_verifiedType)
			AND (@profile_verifiedType IS NULL OR isnull(profile_verifiedtype,'none') in ( select * from dbo.GetSplitedValues_String(@profile_verifiedType)))
			AND (@Tonality IS NULL OR Tonality in ( select * from dbo.GetSplitedValues_String(@Tonality)))

		IF @SortBy = 'date' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by date_sort asc
		END
		ELSE IF @SortBy = 'date' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by date_sort desc
		END
		ELSE IF @SortBy = 'reach' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by reach_sort asc
		END
		ELSE IF @SortBy = 'reach' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by reach_sort desc
		END
		ELSE IF @SortBy = 'engagement' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by engagement_sort asc
		END
		ELSE IF @SortBy = 'engagement' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by engagement_sort desc
		END
		ELSE IF @SortBy = 'views' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by views_sort asc
		END
		ELSE IF @SortBy = 'views' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by views_sort desc
		END
		ELSE 
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter order by date_sort desc
		END

		drop table #TempNoFilter,#TempNoFilter_BaseToFrom,#TempNoFilter_Data

		END

		IF @IsFilter = 1
		BEGIN
			
			declare @Likes tinyint ,@Replies tinyint ,@RetweetsWithoutQuote tinyint ,@QuoteRetweets tinyint 
			SET @Likes= null 
			SET @Replies= null
			SET @RetweetsWithoutQuote= null
			SET @QuoteRetweets= null

			print @Likes
			print @Replies
			print @RetweetsWithoutQuote
			print @QuoteRetweets

			IF @Eng_Type IS NOT NULL
			BEGIN
				IF @Eng_Type like '%Likes%'
				BEGIN
					SET @Likes= 1 
				END
				IF @Eng_Type like '%Replies%'
				BEGIN
					SET @Replies= 1 
				END
				IF @Eng_Type like '%Retweets Without Quote%'
				BEGIN
					SET @RetweetsWithoutQuote= 1 
				END
				IF @Eng_Type like '%Quote Retweets%'
				BEGIN
					SET @QuoteRetweets= 1 
				END
			END

			select tlom.TLTMID,EventID,TonalityID,Sentiment,t.*,ft.MIparticipant into #TwitterTemp from LinkTweet t with (nolock) 
			inner join LinkTweet_Detail ld with (nolock) on ld.LTID = t.LTID AND ld.Tweet_IsRetweeted = 0
			INNER JOIN [dbo].[TagLinkTweetMap] tlom WITH (NOLOCK) ON tlom.LTID=t.LTID INNER JOIN [dbo].[TagLinkTweetMapE] tlome WITH (NOLOCK) ON TLOME.TLTMID=tlom.TLTMID
			INNER JOIN #Temp_facttable ft WITH (NOLOCK) ON ft.tltm_id=tlom.TLTMID
			INNER JOIN [dbo].[LinkTweet_Enriched] LE with (nolock) ON LE.LTID = t.LTID
			INNER JOIN [dbo].[LinkTweet_EnrichedDetail] LED with (nolock) ON LED.TLTMEID = TLOME.TLTMEID AND led.Is_Relevant_About_Topic=1
			INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID AND e.EventID=@TopicID
			where t.Tweet_Date >= @FromDate AND t.Tweet_Date <= @ToDate 

			select LM.MentionValue,MKID,LM.LTID into #TwitterMentionTemp from LinkTweet_Mention LM with (nolock) 
			inner join #TwitterTemp on #TwitterTemp.LTID = LM.LTID

			select t.TLTMID as twitter_id,t.Tweet_Text as description,
			REPLACE(CONVERT(NVARCHAR,t.Tweet_Date, 106), ' ', '-') + ' | '+ LTRIM(RIGHT(CONVERT(VARCHAR(20), t.Tweet_Date, 100), 7)) as date_time,
			sentiment,
			profile_handle,profile_name,profile_followerscount,
			profile_verifiedtype,
			engagement_retweetcount,engagement_replycount,engagement_likecount,engagement_quotecount,
			case 
				WHEN t.THID in ((SELECT profile_handle from #TempNoFilter_BaseToFrom)) THEN 'Active'
				WHEN t.THID not in ((SELECT profile_handle from #TempNoFilter_BaseToFrom)) THEN 'New'
			END as participant_type,
			stuff((SELECT ',' + isnull(MentionValue,'')
					FROM #TwitterMentionTemp with (nolock)
					WHERE #TwitterMentionTemp.MKID = 2 AND LTID=t.LTID
					FOR XML PATH('')),1,1,'') AS Mentioned_Hashtags,
			stuff((SELECT ',' + isnull(MentionValue,'') 
					FROM #TwitterMentionTemp  with (nolock)
					WHERE #TwitterMentionTemp.MKID = 1 AND LTID=t.LTID
					FOR XML PATH('')),1,1,'') AS Mentioned_Handles,
			Profile_Category as UserProfileCategory,
			stuff((SELECT ',' + isnull(MentionValue,'')
					FROM #TwitterMentionTemp  with (nolock)
					WHERE #TwitterMentionTemp.MKID = 4 AND LTID=t.LTID
					FOR XML PATH('')),1,1,'') AS Mentioned_Images,
			stuff((SELECT MentionValue + ','
					FROM #TwitterMentionTemp  with (nolock)
					WHERE #TwitterMentionTemp.MKID = 3 AND LTID=t.LTID
					FOR XML PATH('')),1,1,'') AS Mentioned_Hyperlinks,
			stuff((SELECT ',' + isnull(MentionValue,'')
					FROM #TwitterMentionTemp  with (nolock)
					WHERE #TwitterMentionTemp.MKID = 5 AND LTID=t.LTID
					FOR XML PATH('')),1,1,'') AS Mentioned_Videos,
			tonality,
			t.Tweet_Date as date_sort,profile_followerscount as reach_sort,
			(engagement_retweetcount+engagement_replycount+engagement_likecount+engagement_quotecount+engagement_bookmarkcount) as engagement_sort,
			engagement_viewcount as views_sort,
			TypeOfListening,
			MIparticipant,th.THID
			into #TempNoFilter_Data_Filter
			FROM #TwitterTemp t with (nolock) 
			
			inner join TwitterHandle th with (nolock) on th.THID = t.THID
			inner join LinkTweet_Engagement LTE with (nolock) on LTE.LTID = t.LTID
			--INNER JOIN [dbo].[TagLinkTweetMap] tlom WITH (NOLOCK) ON tlom.LTID=t.LTID INNER JOIN [dbo].[TagLinkTweetMapE] tlome WITH (NOLOCK) ON TLOME.TLTMID=tlom.TLTMID
			--INNER JOIN [dbo].[LinkTweet_Enriched] LE with (nolock) ON LE.LTID = t.LTID
			--INNER JOIN [dbo].[LinkTweet_EnrichedDetail] LED with (nolock) ON LED.TLTMEID = TLOME.TLTMEID
			INNER JOIN [dbo].mstTonality_Enriched ME with (nolock) ON ME.TonalityID = t.TonalityID
			--INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID=TLOME.TagID
			LEFT JOIN Bookmark B WITH (NOLOCK) on t.TLTMID= B.RecordID and PlatformID=3 AND (@UserID = 0 OR B.UserID =@UserID)
			--WHERE e.EventID=@TopicID AND t.Tweet_Date >= @FromDate AND t.Tweet_Date <= @ToDate 
			--AND ld.Tweet_IsRetweeted = 0 AND led.Is_Relevant_About_Topic=1

			select * into #TempNoFilter_Filter from #TempNoFilter_Data_Filter
		WHERE (@Sentiment IS NULL OR sentiment in ( select * from dbo.GetSplitedValues_String(@Sentiment)))
		--AND (@Mentioned_Hashtag IS NULL OR Mentioned_Hashtags like '%'+ @Mentioned_Hashtag +'%')
		AND (@Mentioned_Handle IS NULL OR Mentioned_Handles like '%'+ @Mentioned_Handle +'%')
		AND (@Profile_Category IS NULL OR UserProfileCategory in ( select * from dbo.GetSplitedValues_String(@Profile_Category)))
		--OR (@IsVerified = 2 OR profile_isverified = @IsVerified)
		AND (@Mentioned_Images IS NULL OR Mentioned_Images is not null)
		AND (@Mentioned_Hyperlinks IS NULL OR Mentioned_Hyperlinks is not null)
		AND (@Mentioned_Videos IS NULL OR Mentioned_Videos is not null)
		AND (@Mention_Type_val IS NULL OR TypeOfListening=@Mention_Type_val)
		AND (@Profile_Name IS NULL OR profile_name like '%'+ @Profile_Name +'%')
		AND (@Profile_Handle IS NULL OR profile_handle like '%'+ @Profile_Handle +'%')
		AND (@SearchText IS NULL OR description like '%'+@SearchText+'%')
		AND (@Exclude_By_Text IS NULL OR description not like '%'+@Exclude_By_Text+'%')
		AND (@Profile_Followerscount IS NULL OR (profile_followerscount BETWEEN @FromFC AND @ToFC))
		AND (@Participant_Type IS NULL OR 
		(@Participant_Type = 'Media & Influencers' AND MIparticipant=1) OR
				--(@Participant_Type = 'Media & Influencers' AND ( (UserProfileCategory like '%Journalist%') OR (UserProfileCategory like '%Reporter%') OR (UserProfileCategory like '%Influencer%') )) OR
				(participant_type in ( select * from dbo.GetSplitedValues_String(@Participant_Type)))
			)
		--AND (@profile_verifiedType IS NULL OR isnull(profile_verifiedtype,'none')=@profile_verifiedType)
		AND (@profile_verifiedType IS NULL OR isnull(profile_verifiedtype,'none') in ( select * from dbo.GetSplitedValues_String(@profile_verifiedType)))
		AND (@Tonality IS NULL OR Tonality in ( select * from dbo.GetSplitedValues_String(@Tonality)))
		AND (@Likes IS NULL OR Engagement_LikeCount>0)
		AND (@Replies IS NULL OR Engagement_ReplyCount>0)
		AND (@RetweetsWithoutQuote IS NULL OR Engagement_RetweetCount>0)
		AND (@QuoteRetweets IS NULL OR Engagement_QuoteCount>0)
		
		select top 0 * into #TempNoFilter_FilterFinal from #TempNoFilter_Filter
		
		IF @Mentioned_Hashtag IS NOT NULL
		BEGIN
			
			SELECT twitter_id, ltrim(rtrim(Split.value)) as splitValue into #Temp_Hashtag
			FROM #TempNoFilter_Filter
			CROSS APPLY STRING_SPLIT(isnull(Mentioned_Hashtags,'NA'), ',') as Split

			

			insert into #TempNoFilter_FilterFinal
			SELECT #TempNoFilter_Filter.* from #TempNoFilter_Filter
			inner join #Temp_Hashtag on #Temp_Hashtag.twitter_id=#TempNoFilter_Filter.twitter_id
			where splitValue in (select * from dbo.GetSplitedValues_String(@Mentioned_Hashtag))

			drop table #Temp_Hashtag
		END
		ELSE
		BEGIN
			
			insert into #TempNoFilter_FilterFinal
			SELECT #TempNoFilter_Filter.* from #TempNoFilter_Filter

			--create unique nonclustered index IX_MyTempTable on #TempNoFilter_FilterFinal (date_sort,reach_sort,engagement_sort,views_sort);
		END
		

		IF @SortBy = 'date' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by date_sort asc
		END
		ELSE IF @SortBy = 'date' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by date_sort desc
		END
		ELSE IF @SortBy = 'reach' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by reach_sort asc
		END
		ELSE IF @SortBy = 'reach' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by reach_sort desc
		END
		ELSE IF @SortBy = 'engagement' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by engagement_sort asc
		END
		ELSE IF @SortBy = 'engagement' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by engagement_sort desc
		END
		ELSE IF @SortBy = 'views' AND @SortOrder = 'asc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by views_sort asc
		END
		ELSE IF @SortBy = 'views' AND @SortOrder = 'desc'
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by views_sort desc
		END
		ELSE 
		BEGIN
			SELECT twitter_id,profile_handle,profile_name,profile_followerscount,views_sort as engagement_viewcount,date_time,date_sort from #TempNoFilter_FilterFinal order by date_sort desc
		END

		drop table #TempNoFilter_Filter,#TempNoFilter_Data_Filter,#TempNoFilter_FilterFinal

		END


		
END




GO
/****** Object:  StoredProcedure [dbo].[USP_API_SentryV2_YouTube_ListPage_ViewChart]    Script Date: 10-07-2025 21:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--EXEC [USP_API_SentryV2_YouTube_ListPage_ViewChart] 634,1200,'2025-05-14 00:00:00','2025-05-14 00:00:00','2025-06-04 15:33:43',@People_Brand_Mentions='Ronaldo, Messi'

--EXEC [USP_API_SentryV2_YouTube_ListPage_ViewChart] @TopicID=3,@BaseDate='2025-01-02 00:00:00',@FromDate='2025-01-02 00:00:00',@ToDate='2025-01-15 00:00:00',@SearchText=NULL,@Exclude_By_Text='amazon pay'
--,@Mentioned_Topics='ICICI Bank,stock recommendations',
--@Channel_Subscriber_Count='100-1000',@Sentiment='Negative',@Discourse_Category='Issues'
CREATE PROCEDURE [dbo].[USP_API_SentryV2_YouTube_ListPage_ViewChart]
    @UserID INT = 0,
    @TopicID INT = 0,
    @BaseDate DATETIME = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
    @Video_Tags NVARCHAR(MAX) = NULL,
    @Channel_Handle NVARCHAR(MAX) = NULL,
    @Channel_Name NVARCHAR(MAX) = NULL,
    @Sentiment NVARCHAR(500) = NULL,
    @Tonality NVARCHAR(500) = NULL,
    @Channel_Category NVARCHAR(MAX) = NULL,
    @Mention_Type NVARCHAR(200) = NULL,
    @Profile_VerifiedType NVARCHAR(500) = NULL,
    @Participant_Type NVARCHAR(500) = NULL,
    @Channel_Subscriber_Count NVARCHAR(1000) = NULL,
    @Duration_In_Min NVARCHAR(100) = NULL,
    @Video_Type NVARCHAR(500) = NULL,
    @Discourse_Category NVARCHAR(500) = NULL,
    @Mentioned_Topics NVARCHAR(MAX) = NULL,
    @Publication_ImpactScore INT = NULL,
    @Mentioned_Locations NVARCHAR(MAX) = NULL,
	@People_Brand_Mentions NVARCHAR(MAX) = NULL,
    @SortBy NVARCHAR(500) = 'Date',
    @SortOrder NVARCHAR(500) = 'desc',
	@Language nvarchar(500) = null,
	@SearchText varchar(5000) = null,
	@Exclude_By_Text varchar(5000) = null
AS
BEGIN
    SET NOCOUNT ON;

    -- Parse Subscriber Count Range
    DECLARE @FromSC INT = NULL, @ToSC INT = NULL;
    IF @Channel_Subscriber_Count IS NOT NULL
    BEGIN
			SELECT  
			@FromSC =convert(int,SUBSTRING(@Channel_Subscriber_Count, 1, CHARINDEX('-', @Channel_Subscriber_Count)-1)),
			@ToSC =convert(int,SUBSTRING(@Channel_Subscriber_Count, CHARINDEX('-', @Channel_Subscriber_Count)+1, LEN(@Channel_Subscriber_Count)))
    END

    -- Parse Duration Range
    DECLARE @FromDuration INT = NULL, @ToDuration INT = NULL;
    IF @Duration_In_Min IS NOT NULL
    BEGIN
			SELECT  
			@FromDuration =convert(int,SUBSTRING(@Duration_In_Min, 1, CHARINDEX('-', @Duration_In_Min)-1)),
			@ToDuration =convert(int,SUBSTRING(@Duration_In_Min, CHARINDEX('-', @Duration_In_Min)+1, LEN(@Duration_In_Min)))
    END

    -- Fetch Data
    
		SELECT 
        tlym.TLYMID AS video_id,
		y.Video_URL AS url,
        CONVERT(NVARCHAR, y.Video_Date, 106) + ' | ' + LTRIM(RIGHT(CONVERT(VARCHAR(20), y.Video_Date, 100), 7)) AS date_time,
		yc.Channel_Handle as channel_handle,
		ld.Video_Tags as video_tags,
		yc.Channel_Name as channel_name,
		y.Video_Title as Video_Title,
		LED.Sentiment AS sentiment,
		ISNULL(yc.Channel_AssignedCategory,'NA') AS channel_category,
		ISNULL(led.Mention_Type,'NA') as mention_type,
		yc.channel_type as channel_type,
		stuff((SELECT ',' + ISNULL(vdce.DiscourseCategory, 'NA')
				FROM [dbo].[LinkYouTube_Enriched_DiscourseCategory] LYEDC WITH (NOLOCK) 
				LEFT JOIN [dbo].mstDiscourseCategory_YouTube vdce WITH (NOLOCK) ON vdce.DiscourseCategoryID = LYEDC.Video_DiscourseCategoryID 
				WHERE  LYEDC.LYEID = LE.LYEID
				FOR XML PATH('')),1,1,'') AS discourse_category,
		stuff((SELECT ',' + ISNULL(vty.VideoType, 'NA')
				FROM [dbo].[LinkYouTube_Enriched_VideoType] LYEV WITH (NOLOCK)
				LEFT JOIN [dbo].[mstVideoType_YouTube] vty WITH (NOLOCK) ON vty.VideoTypeID = LYEV.VideoTypeID
				WHERE  LYEV.LYEID = LE.LYEID
				FOR XML PATH('')),1,1,'') AS video_type,
		[dbo].[GetLocation_YT](ISNULL(yc.Channel_Country, 'NA')) as channel_location,
		Convert(decimal(18,2),Convert(decimal(18,2),ld.Video_DurationInSec)/60) as Video_Duration_Min,
		ISNULL(te.tonality,'NA') as tonality,
		[dbo].[GetLanguage_YT](ISNULL(lan.Language,'NA')) AS language,
		channel_subscriberCount as channel_subscribercount_sort,
		y.Video_Date as date_sort,
		LED.Impact_Score as impact_score_sort,
		Engagement_LikeCount as engagement_likecount_sort,
		Engagement_ViewCount as engagement_viewcount_sort,
		Engagement_CommentCount as engagement_commentcount_sort,
		REPLACE(le.BrandMentioned, ',', ',') as brand_mentioned,
		REPLACE(le.PeopleMentioned, ',', ',') as People_mentioned

	INTO #TempFilteredData
    FROM 
        [dbo].[LinkYouTube] y WITH (NOLOCK)
        INNER JOIN [dbo].[LinkYouTube_Detail] ld WITH (NOLOCK) ON ld.LYID = y.LYID
        INNER JOIN [dbo].[YouTubeChannel] yc WITH (NOLOCK) ON yc.YCID = y.YCID
        INNER JOIN [dbo].[LinkYouTube_Engagement] lye WITH (NOLOCK) ON lye.LYID = y.LYID
        INNER JOIN  dbo.TagLinkYouTubeMap AS tlym WITH (NOLOCK) ON tlym.LYID = y.LYID 
		INNER JOIN  dbo.TagLinkYouTubeMapE AS tlyme WITH (NOLOCK) ON tlym.TLYMID = tlyme.TLYMID
        INNER JOIN [dbo].[LinkYouTube_Enriched] LE WITH (NOLOCK) ON LE.LYID = y.LYID
        INNER JOIN [dbo].[LinkYouTube_EnrichedDetail] LED WITH (NOLOCK) ON LED.TLYMEID = tlyme.TLYMEID
		LEFT JOIN [dbo].[mstTonality_Enriched] te WITH (NOLOCK) ON te.tonalityID=LED.tonalityID
		LEFT JOIN [dbo].[mstLanguage] lan WITH (NOLOCK) ON ld.LanguageID=lan.LanguageID
        INNER JOIN [dbo].[Event] e WITH (NOLOCK) ON e.TagID = tlyme.TagID
		LEFT JOIN Bookmark B WITH (NOLOCK) on tlym.TLYMID= B.RecordID and PlatformID=4 AND (@UserID = 0 OR B.UserID =@UserID)
		WHERE e.EventID=@TopicID 
		AND y.Video_Date >= @FromDate AND y.Video_Date <= @ToDate 
		AND led.Is_Relevant_About_Topic=1
		ORDER BY y.Video_Date desc


    -- Apply Filters
    SELECT * 
    INTO #FilteredData
    FROM #TempFilteredData
    WHERE 
        (@Video_Tags IS NULL  OR Video_Tags LIKE '%' + @Video_Tags + '%')
        AND (@Channel_Handle IS NULL OR Channel_Handle LIKE '%' + @Channel_Handle + '%')
        AND (@Channel_Name IS NULL OR Channel_Name LIKE '%' + @Channel_Name + '%')
		AND (@SearchText IS NULL OR Video_Title LIKE '%' + @SearchText + '%')
		AND (@Exclude_By_Text IS NULL OR Video_Title NOT LIKE '%' + @Exclude_By_Text + '%')
        AND (@Sentiment IS NULL OR Sentiment  in ( select * from dbo.GetSplitedValues_String(@Sentiment)))
        AND (@Channel_Category IS NULL OR Channel_Category = @Channel_Category)

        --AND (@Mentioned_Topics IS NULL OR topics_discussed_in_video in ( select * from dbo.GetSplitedValues_String(@Mentioned_Topics)))

		AND (@mention_type IS NULL OR mention_type in ( select * from dbo.GetSplitedValues_String(@mention_type)))
		AND (@Participant_Type IS NULL OR channel_type in ( select * from dbo.GetSplitedValues_String(@Participant_Type)))
        AND (@Discourse_Category IS NULL OR Discourse_Category in ( select * from dbo.GetSplitedValues_String(@Discourse_Category)))
        AND (@Video_Type IS NULL OR Video_Type in ( select * from dbo.GetSplitedValues_String(@Video_Type)) )
		AND (@Mentioned_Locations IS NULL OR channel_location in ( select * from dbo.GetSplitedValues_String(@Mentioned_Locations)) )
        --AND (@Publication_ImpactScore IS NULL OR Impact_Score >= @Publication_ImpactScore)
        AND (@Channel_Subscriber_Count IS NULL OR (channel_subscribercount_sort BETWEEN @FromSC AND @ToSC))
        AND (@Duration_In_Min IS NULL OR (Video_Duration_Min BETWEEN @FromDuration AND @ToDuration))
		AND (@Tonality IS NULL OR Tonality in ( select * from dbo.GetSplitedValues_String(@Tonality)))
		--AND (@People_Brand_Mentions IS NULL OR isnull(brand_mentioned,'NA')+' '+isnull(People_mentioned,'NA') in ( select * from dbo.GetSplitedValues_String(@People_Brand_Mentions)))
		AND (@Language IS NULL OR Language in ( select * from dbo.GetSplitedValues_String(@Language)))
		
		select top 0 * into #FilteredData_Filter from #FilteredData
		

		IF @Mentioned_Topics IS NOT NULL
		BEGIN
			SELECT  video_id, ltrim(rtrim(Split.value)) as splitValue into #Temp_topics_discussed_in_video
			FROM #TempFilteredData
			CROSS APPLY STRING_SPLIT(topics_discussed_in_video, ',') as Split

			insert into #FilteredData_Filter
			SELECT distinct #FilteredData.* from #FilteredData
			inner join #Temp_topics_discussed_in_video on #Temp_topics_discussed_in_video.video_id=#FilteredData.video_id
			where splitValue in ( select * from dbo.GetSplitedValues_String(@Mentioned_Topics))

			drop table #Temp_topics_discussed_in_video
		END
		IF @People_Brand_Mentions IS NOT NULL
		BEGIN
			SELECT  video_id, ltrim(rtrim(Split.value)) as splitValue into #Temp_people_discussed_in_video
			FROM #TempFilteredData
			CROSS APPLY STRING_SPLIT(isnull(brand_mentioned,'NA')+','+isnull(People_mentioned,'NA'), ',') as Split

			insert into #FilteredData_Filter
			SELECT distinct #FilteredData.* from #FilteredData
			inner join #Temp_people_discussed_in_video on #Temp_people_discussed_in_video.video_id=#FilteredData.video_id
			where splitValue in ( select * from dbo.GetSplitedValues_String(@People_Brand_Mentions))

			drop table #Temp_people_discussed_in_video
		END

		IF @Mentioned_Topics IS NULL AND  @People_Brand_Mentions IS  NULL
		BEGIN
			insert into #FilteredData_Filter
			SELECT #FilteredData.* from #FilteredData
		END


		

	SELECT distinct Channel_handle, 
	COUNT(url) as total_videos
	into #PComma
	FROM #FilteredData_Filter 
	GROUP BY Channel_Handle


	select a.*,b.total_videos into #FilteredData_Final from #FilteredData_Filter a 
	INNER JOIN #PComma b  on a.Channel_handle=b.Channel_handle


    -- Sorting
    IF @SortBy = 'Date' AND @SortOrder = 'asc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY date_sort ASC;
	END
    ELSE IF @SortBy = 'Date' AND @SortOrder = 'desc'
	BEGIN
        SELECT video_id,channel_handle ,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY date_sort DESC;
	END
    ELSE IF @SortBy = 'Impact' AND @SortOrder = 'asc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY impact_score_sort ASC;
	END
    ELSE IF @SortBy = 'Impact' AND @SortOrder = 'desc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY impact_score_sort DESC;
	END
	ELSE IF @SortBy = 'Likes' AND @SortOrder = 'asc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY Engagement_LikeCount_sort ASC;
	END
    ELSE IF @SortBy = 'Likes' AND @SortOrder = 'desc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY Engagement_LikeCount_sort DESC;
	END
	ELSE IF @SortBy = 'Views' AND @SortOrder = 'asc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY Engagement_ViewCount_sort ASC;
	END
    ELSE IF @SortBy = 'Views' AND @SortOrder = 'desc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY Engagement_ViewCount_sort DESC;
	END
	ELSE IF @SortBy = 'Comments' AND @SortOrder = 'asc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY Engagement_CommentCount_sort ASC;
	END
    ELSE IF @SortBy = 'Comments' AND @SortOrder = 'desc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY Engagement_CommentCount_sort DESC;
	END
	ELSE IF @SortBy = 'Subscribers' AND @SortOrder = 'asc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY channel_subscriberCount_sort ASC;
	END
    ELSE IF @SortBy = 'Subscribers' AND @SortOrder = 'desc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY channel_subscriberCount_sort DESC;
	END
	ELSE IF @SortBy = 'Volume' AND @SortOrder = 'asc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY total_videos ASC;
	END
    ELSE IF @SortBy = 'Volume' AND @SortOrder = 'desc'
	BEGIN
        SELECT video_id,channel_handle,Channel_Name,date_time,date_sort FROM #FilteredData_Final ORDER BY total_videos DESC;
	END
    
    DROP TABLE #TempFilteredData, #FilteredData,#FilteredData_Final,#PComma;
END;