USE [SahadevC2]

GO

ALTER TABLE DataRequest ADD TryCount INT default 0


GO
/****** Object:  StoredProcedure [dbo].[USP_Service_SentryV2_FetchPending_URDataDownload]    Script Date: 05-07-2025 22:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[USP_Service_SentryV2_FetchPending_URDataDownload]
AS
BEGIN

	select  DataRequestID as UDDRID,urdd.UserID,urdd.FiltersJson as RequestJson,urdd.StatusID as IsSent,
	t.EventName as TopicName,u.EmailID as Email,userName,urdd.CreatedAt
	FROM DataRequest urdd with (nolock) 
	inner join Event t with (nolock) on t.EventID = urdd.EventID
	--inner join EventUser uet with (nolock) on uet.UserID=urdd.UserID AND uet.EventID=urdd.EventID
	inner join SahadevC1.dbo.[User] u with (nolock) on u.UserID=urdd.UserID
	where urdd.StatusID =0 and TryCount < 3
	order by urdd.DataRequestID desc
	
END


GO
/****** Object:  StoredProcedure [dbo].[USP_API_SentryV2_DataRequest_Update_TryCount]    Script Date: 05-07-2025 22:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_API_SentryV2_DataRequest_Update_TryCount]
@UDDRID INT=0
AS
BEGIN
	
	IF(@UDDRID>0)
	BEGIN
		UPDATE DataRequest SET TryCount=TryCount+1,ModifiedAt=Getdate()  from DataRequest where DataRequestID=@UDDRID
	END
END